@CHARSET "UTF-8";


/* 
 * セレクタ:.blogArticles
 * 概要   :ブログの記事領域
 * 作成者 :T.Masuda
 * 作成日 :2015.08.02
 */
.blogArticles {
	font-size: 0px;		/* インラインブロックの要素を扱うため、フォントサイズを0にする */
	width: 95%;			/* 幅をパーセンテージ指定する */
	margin: 0px auto 0px;	/* 中央に寄せる。上下にも適正なマージン */	
}

/* 
 * セレクタ:.blogTable tr
 * 概要   :ブログの1記事ごと
 * 作成者 :T.Masuda
 * 作成日 :2015.08.02
 */
.blogTable tr {
	width: 100%;			/* 幅を親要素と同じだけ広げる */
	margin: 0 auto 20px;	/* 中央に寄せ、下にあいだをとる */
	background: #FFCC99;	/* ベージュの背景にする */
	border-radius: 10px;	/* 角丸をつける */
	padding: 10px 2%;		/* 内側の余白をつける */
	box-sizing: border-box;	/* 大きさの計算にpadding、borderを含める */
	display: block;			/* ブロック要素にする */
}

/* 
 * セレクタ:.blogTable td 
 * 概要   :ブログの記事の各要素
 * 作成者 :T.Masuda
 * 作成日 :2015.08.02
 */
.blogTable td {
	vertical-align: middle;	/* 高さを中心に合わせる */
}

/* 
 * セレクタ:.blogImage
 * 概要   :ブログの記事の画像部分を囲むタグ
 * 作成者 :T.Masuda
 * 作成日 :2015.08.02
 */
.blogImage{
	width: 25%;			/*  幅を記事の25%程度にする*/
	display: block;		/* ブロック要素にする */
	margin-right: 5px;	/* 右に余白を取る */
	height: auto;		/* 高さを画像に合わせる */
	float:left;			/* 左に寄せる */
}

/* 
 * セレクタ:.blogImage
 * 概要   :記事内の2個目以降の.blogImage
 * 作成者 :T.Masuda
 * 作成日 :2015.08.02
 */
.blogImage+.blogImage{
	display:none;	/* 非表示にする */
}

/* 
 * セレクタ:table.blogTable tr td:first-child
 * 概要   :IDの列
 * 作成者 :T.Masuda
 * 作成日 :2015.08.02
 */
table.blogTable tr td:first-child {
	display: none;	/* 見せない */
}

/* 
 * セレクタ:.blogImage img
 * 概要   :記事の画像
 * 作成者 :T.Masuda
 * 作成日 :2015.08.02
 */
.blogImage img{
	width: 100%;			/* できるだけ広げる */
	display: inline-block;	/* インラインブロック */
	height: auto;			/* 高さを比率に合わせる */
	border-radius: 10px;	/* 角丸にする */
	margin-bottom: 5px;		/* 下に余白を取る */
}

/* 
 * セレクタ:.blogTitle
 * 概要   :記事のタイトル
 * 作成者 :T.Masuda
 * 作成日 :2015.08.02
 */
.blogTitle{
	display: inline-block;	/* インラインブロックで横並べにする */
	font-size: 20px;		/* 大きめのフォント */
	width: 58%;				/* 幅を可変にする */
	vertical-align: middle;	/* 高さを中心に寄せる */
}

/* 
 * セレクタ:.blogDate
 * 概要   :記事の日付
 * 作成者 :T.Masuda
 * 作成日 :2015.08.02
 */
.blogDate{
	display: inline-block;	/* インラインブロックで横並びにする */
	font-size: 12px;		/* 小さめのフォント */
	width: 90px;			/* 固定幅 */
}

/* 
 * セレクタ:.userName
 * 概要   :記事のユーザ名
 * 作成者 :T.Masuda
 * 作成日 :2015.08.02
 */
.userName{
	display: inline-block;	/* インラインブロックで横並びにする */
	font-size: 14px;		/* 小さめのフォント */
	width: auto;			/* 文字に幅を合わせる */
}

/* 
 * セレクタ:.blogContent
 * 概要   :記事の本文
 * 作成者 :T.Masuda
 * 作成日 :2015.08.02
 * 変更者 :T.Masuda
 * 変更日 :2015.11.08
 * 内容　 :改行を有効にしました
 */
.blogContent{
	font-size: 20px;		/* 大きめで見やすいフォントにする */
	text-indent: 1em;		/* インデントを付ける */
	display:block;			/* ブロック要素で横に並べない */
	white-space : pre-wrap;	/* 改行を有効にする */	
	width : 73%;			/* 幅を指定する。隣にある画像との比率を考慮する */
	float : right;			/* 右に寄せる */
}

/* 
 * セレクタ:.blogContent:before
 * 概要   :記事の本文の前の疑似要素
 * 作成者 :T.Masuda
 * 作成日 :2015.08.02
 */
/*.blogContent:before{
	display: block;
	content:" ";
	width: 100%;
}
*/

/* 
 * セレクタ:.blogTable
 * 概要   :ブログのテーブル
 * 作成者 :T.Masuda
 * 作成日 :2015.08.02
 */
.blogTable{
	width: 100%;	/* 幅を出来るだけ広げる */
}

/* 
 * セレクタ:.blogTable thead tr:first-child
 * 概要   :ブログのテーブルの見出し行
 * 作成者 :T.Masuda
 * 作成日 :2015.08.02
 * 作成者 :T.Masuda
 * 作成日 :2016.04.23
 * 概要   :crateTagTableの改修に対応しました
 */
.blogTable thead tr:first-child{
	display:none;	/* 見出し行は見せない */
}

/* 
 * セレクタ:.myPageBlog .numberingOuter
 * 概要   :ブログのテーブルのナンバリング領域
 * 作成者 :T.Masuda
 * 作成日 :2015.08.02
 */
.myPageBlog .numberingOuter{
	font-size: 16px;		/* フォントサイズが0になっているので指定する */
	margin-bottom: 20px;	/* 下にmarginを入れる */
}

/* 
 * セレクタ:.myPageBlog .calendar
 * 概要   :ブログのカレンダー
 * 作成者 :T.Masuda
 * 作成日 :2015.12.23
 */
.myPageBlog .calendar{
	margin : 0 auto 10px;	/* 中央に寄せて下と間隔を取る */
}

/* 
 * セレクタ:.myPageBlogButtons
 * 概要   :ブログのボタン領域
 * 作成者 :T.Masuda
 * 作成日 :2015.12.23
 */
.myPageBlogButtons {
	width: 90%;			/* 少し余裕のある幅にする */
	margin: 0 auto ;	/* 中央に寄せる */
}

/* 
 * セレクタ:.blogArticles .buttons
 * 概要   :ブログの編集・削除ボタン領域
 * 作成者 :T.Masuda
 * 作成日 :2015.12.23
 */
.blogArticles .buttons {
	clear : both;	/* 回り込みしない */
	display : block; /* ブロック要素として扱う */
}

/* 
 * セレクタ:.blogArticles .buttons button
 * 概要   :ブログの編集・削除ボタン
 * 作成者 :T.Masuda
 * 作成日 :2015.12.23
 */
.blogArticles .buttons button {
	float : right;	/* 右に寄せる */
	margin : 10px 3px 3px;	/* 少々のmarginを取る */
}

/* 
 * セレクタ:.currentArticleList
 * 概要   :ブログの最新記事一覧
 * 作成者 :T.Masuda
 * 作成日 :2015.12.26
 */
.currentArticleList {
	font-size : 10px;	/* 小さめの文字を指定する */
}

/* 
 * セレクタ:.currentArticleListContent
 * 概要   :ブログの最新記事一覧の各項目
 * 作成者 :T.Masuda
 * 作成日 :2015.12.26
 */
.currentArticleListContent {
	margin-bottom : 5px;	/* 項目ごとに間隔を取る */
}


/* 画面伸縮開始時 */
@media screen and (max-width : 680px) {
	
	/* 
	 * セレクタ:.blogRightContent, .blogLeftContent
	 * 概要   :ブログの左右領域
	 * 作成者 :T.Masuda
	 * 作成日 :2015.12.26
	 */
	.blogRightContent, .blogLeftContent {
		display : block;	/* ブロック要素にする */
		float : none; 		/* floatを解除して縦に並べる */
		width : 100%;		/* 幅を画面一杯に取る */
	}
	
	/* 
	 * セレクタ:.currentArticleListContentTitle
	 * 概要   :最新記事一覧のタイトル部分
	 * 作成者 :T.Masuda
	 * 作成日 :2015.12.27
	 */
	.currentArticleListContentTitle {
		display : inline-block;	/* 横並びにする */
	}
}

/* 生徒さんの声 */
/* 
 * セレクタ:.voices > div
 * 概要   :生徒さんの声記事本体。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */
.voices > div {
	width			: 100%;			/*幅を右側コンテンツ領域一杯に広げる。*/
	margin			: 0 auto 20px;	/*水平位置を中央に合わせる。また、下に余白を空ける。*/
	background		:#FFCC99 ;		/*背景色をベージュにする。*/
	border-radius	:10px;			/*記事領域の角を丸くする。*/
	padding			: 10px 2%;		/* 全体方向に内側の余白を入れる。 */
	box-sizing		: border-box;	/* 幅の計算にborderとpaddingを加える。 */
}

/* 
 * セレクタ:.voices .blogArticleTitle
 * 概要   :生徒さんの声のタイトル領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */
.voices .blogArticleTitle {
	width		: 98%;			/*左右marginの分を引いて領域一杯に幅を取る。*/
	font-size	: 0px;			/*子要素をinline-blockで横並べにするため、余計な余白が出ないよう設定する。*/
	display		: inline-block;	/* インラインブロックにする。 */
}

/* 
 * セレクタ:.voices .blogArticleTitle > *
 * 概要   :生徒さんの声のタイトル領域直下の要素
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */
.voices .blogArticleTitle > * {
 	display: inline-block;		/*floatを使わずに横並びにする。*/
	vertical-align: bottom;		/*下端に合わせる。*/
 }


 /* 
 * セレクタ:.voices .blogArticleTitleText
 * 概要   :生徒さんの声のタイトル。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 * 変更者 :T.Yamamoto
 * 変更日 :2015.03.19
 * 内容　 :word-breakを設定しました。
 */
.voices .blogArticleTitleText {
	width		: 60%;		/*タイトルなので広く幅を取る。*/
	font-size	: 20px;		/*大きめのフォント。*/
	font-weight	: bold;		/*太字にする。*/
	word-break: break-all;	/* 単語レベルでの改行をさせない。 */
}

 /* 
 * セレクタ:.voices .blogArticleDate
 * 概要   :生徒さんの声の日付。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 * 変更者 :T.Masuda
 * 変更日 :2015.03.19
 * 内容　 :右marginを追加しました。
 */
 .voices .blogArticleDate {
 	width		:auto;		/*日付表示に必要なだけ幅を取る。*/
	font-size	:12px;		/*小さめのフォントを使う。*/
	margin-right: 0.5em;	/* 半文字分のスペースをあける。 */
 }

 /* 
 * セレクタ:.voices .blogArticleUserName
 * 概要   :生徒さんの声のユーザ名。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */
.voices .blogArticleUserName {
	width		:20%;		/*目立ちすぎないように幅は狭めにする。*/
	font-size	:14px;		/*小さめのフォントを使う。*/
}

 /* 
 * セレクタ:.voices .blogArticleImages
 * 概要   :生徒さんの声の画像の領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */
.voices .blogArticleImages {
	width		:25%;	/*mainの1/5の幅を取る。*/
	float		:left;	/*左に寄せる。*/
	margin-right: 5px;	/* テキスト部分と間隔を取る。 */
}

 /* 
 * セレクタ:.voices .blogArticleImages img
 * 概要   :生徒さんの声の画像。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 * 変更者 :T.Masuda
 * 変更日 :2015.03.19
 * 内容　 :幅を変更しました。
 */
.voices .blogArticleImages img{
	width			:100%;		/*幅を外枠に合わせる。*/
	margin			:5px auto;	/*上下5pxの余白を配置し、水平位置を中央に合わせる。*/
	display			:block;		/*marginによる中央寄せを有効にするための設定。*/
	border-radius	:5px;		/*画像の角を丸くする。*/
}

 /* 
 * セレクタ:.voices .blogArticleImages img[src=""]
 * 概要   :生徒さんの声の空画像。
 * 設計者 :T.Masuda
 * 作成者 :T.Masuda
 * 作成日 :2015.03.13
 */
.voices .blogArticleImages img[src=""]{
	 /* 非表示3セット */
	 width:0px;
	 height:0px;
	 display: none;
}

 /* 
 * セレクタ:.voices .blogArticleText
 * 概要   :生徒さんの声の本文。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 * 変更者 :T.Masuda
 * 変更日 :2015.03.19
 * 内容　 :幅を変更しました。
 * 変更者 :T.Yamamoto
 * 変更日 :2015.04.23
 * 内容　 :marginを10pxのところ5pxに変更し、text-indentを追加しました。
 */
.voices .blogArticleText {
	width		:95%;		/*画像と横並びにできてかつ、十分余白が取れる幅を設定する。*/
	margin		:5px 5%;	/*上下5pxの余白を配置し、左右に同じだけの余白を取る。*/
	font-size	:16px;		/*標準的なフォントサイズにする。*/
	white-space: pre-line;		/* 改行を有効にする */
}

/* スマホ・タブレットレイアウト */
@media(max-width:680px){

	/* 
	 * セレクタ:.voices .blogArticle
	 * 概要   :生徒さんの声本体。
	 * 作成者 :T.Masuda
	 * 作成日 :2015.03.19
	 */
	.voices .blogArticle {
		padding: 10px 5%;	/* スマホレイアウト時はpaddingを増やす。 */
		width:90%;
	}
		
	 /* 
	 * セレクタ:.voices .blogArticleTitle
	 * 概要   :スマホ用、生徒さんの声のタイトル領域。
	 * 設計者 :T.Masuda
	 * 作成者 :T.Yamamoto
	 * 作成日 :2015.03.12
	 */
	 .voices .blogArticleTitle {
		width: 100%;			/* 幅をできるだけ広げる。 */	
		box-sizing: border-box;	/* paddingを幅の計算に含む。 */
		margin: 0;				/* marginを消す。 */
	}

	 /* 
	 * セレクタ:.voices .blogArticleImage
	 * 概要   :スマホ用、生徒さんの声の画像
	 * 設計者 :T.Masuda
	 * 作成者 :T.Yamamoto
	 * 作成日 :2015.03.12
	 */
	 .voices .blogArticleImage {
	 	margin		:10px auto;	/*PC時より画像同士の間隔を詰める*/
	 }

	 /* 
	 * セレクタ:.voices .blogArticleTitleText
	 * 概要   :生徒さんの声のタイトル。
	 * 作成者 :T.Masuda
	 * 作成日 :2015.03.19
	 */
	.voices .blogArticleTitleText {
		font-size: 16px;		/* フォントを小さくする */
		width: 100%;			/* タイトルで1行取る */
	}

	 /* 
	 * セレクタ:.voices .blogArticleUserName
	 * 概要   :生徒さんの声のユーザ名。
	 * 作成者 :T.Masuda
	 * 作成日 :2015.03.19
	 */
	.voices .blogArticleUserName {
		width: 65%;			/* タイトルと違う行になったため、もっと幅を取る。 */
		font-size: 12px;	/* より小さめのフォントを使う。 */
	}

	 /* 
	 * セレクタ:.voices .blogArticleText
	 * 概要   :生徒さんの声の本文。
	 * 設計者 :T.Masuda
	 * 作成者 :T.Yamamoto
	 * 作成日 :2015.03.12
	 */
	 .voices .blogArticleText {
	 	width: 100%;			/*段組みレイアウトをやめているので、十分に幅を広げる。*/
	 	font-size:	13px;		/* フォントサイズを小さくしてバランスを整える。 */
	 	margin: 0;				/* marginをなくす。 */
	 }
 
}
