@CHARSET "UTF-8";

/* 問い合わせページ */

/* 
 * セレクタ:.contactForm dl
 * 概要   :入力項目のリスト。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.18
 */
.contactForm dl{
	width: 100%;		/* 幅を可変にする。 */
}

/* 
 * セレクタ:.contactForm dt
 * 概要   :入力項目の見出し。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.18
 */
.contactForm dt{
	margin-left: 28%;	/* 左marginを可変にする。 */
}

/* 
 * セレクタ:.contactForm dd
 * 概要   :入力項目のinput要素。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.18
 */
.contactForm dd{
	width: 45%;					/* 幅を画面の45%に指定する。 */
}

/* 
 * セレクタ:.contactForm textarea
 * 概要   :入力項目のテキストエリア。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.18
 */
.contactForm .contentTextArea textarea {
	width: 100%; 
}

/* 
 * セレクタ:.contactForm input[type="text"]
 * 概要   :問い合わせフォームのテキストボックス。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.18
 */
.contactForm input[type="text"]{
	width: 100%;	/* 幅を外枠に合わせる。 */
}

/* 
 * セレクタ:.contactForm input[type="email"]
 * 概要   :問い合わせフォームのメールのテキストボックス。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.18
 */
.contactForm input[type="email"]{
	width: 100%;	/* 幅を外枠に合わせる。 */
}

