@CHARSET "UTF-8";

/* 
 * セレクタ:.pageTitle
 * 概要   :タイトル領域
 * 作成者 :T.Masuda
 * 作成日 :2015.02.03
 */
.pageTitle{
    width: 800px;           /* 幅を800pxにする。100%に設定しても無効なので、固定値を使う。 */
    vertical-align: middle; /* 内包する要素の高さを中心に揃える。 */
    box-sizing: border-box;     /* サイズの計算にpaddingと枠線を加える。 */
    margin-bottom: 20px;   /* 下に20pxの余白を空ける */
    margin-top: 20px;		/* 天の画像と被らないように、上にmarginを挿入する。 */
}

/* 
 * セレクタ:.pageTitle img
 * 概要   :タイトルの画像
 * 作成者 :T.Masuda
 * 作成日 :2015.02.05
 * 変更者 :T.Masuda
 * 変更日 :2015.02.24
 * 内容　 :高さを調整しました。
 */
.pageTitle img{
	width: 100px;			/* 画像サイズに関係なく幅を100pxにする。 */
	height: auto;			/* 画像の縦横比に応じた高さを取る。 */
    padding: 0 5px 0 5px;   /* 左右に5pxのpaddingを配置する。 */
    margin-top: -20px;      /* 上から20px余白を空ける */
    box-sizing: border-box; /* サイズの計算にpaddingと枠線を加える。 */
    background: #FFF;       /* 仮の背景色を指定する。 */
    display: inline-block;  /* 横並びにするためにブロック要素にする */
    float:left;             /* 左に寄せる。 */
}

/* 
 * セレクタ:.pageTitle .title
 * 概要   :タイトルの文字
 * 作成者 :T.Masuda
 * 作成日 :2015.02.05
 * 変更者 :T.Masuda
 * 変更日 :2015.02.24
 * 内容　 :pageTitleにclearfixを適用したため、上marginを調整しました。
 */
.pageTitle .title{
    width:          690px;          /* 余った幅いっぱいに横幅を取る。 */
    height:         auto;           /* 高さを自動調整する。 */
    font-size:      24px;           /* フォントサイズを25pxに指定する。 */
    box-sizing:     border-box;     /* サイズの計算にpaddingと枠線を加える。 */
    text-align:     center;         /* 文字を中央に寄せる。 */
    margin:         0 auto 15px; 	/* 中央寄せにし、下marginを挿入する。 */
	padding-top: 	15px;			/* 画像の中心に合わせる。 */
}

/* 
 * セレクタ:.pageTitle .summary
 * 概要   :タイトル部分概要。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.05
 * 変更者 :T.Masuda
 * 変更日 :2015.03.02
 * 内容 　:paddingと幅を変更しました。
 */
.pageTitle .summary{
    width:      660px;      /* 幅を660pxに設定する。 */
    padding: 	1em;		/* 要素の幅を1em広げる */
    height:     auto;       /* 高さを自動調整する。 */
    font-size:  15px;       /* フォントのサイズを指定する。タイトルより小さめのフォンとサイズにする。 */
    text-indent: 1em;		/* インデントを1文字分入れる */
    font-weight: normal;	/* 文字の太さを通常にする */
    line-height: 1.4;		/* 行間を1.4行分とる */
    margin: 0 auto;         /* 中央に寄せる。 */
    display: inline-block;  /* ブロック要素にする */
}

/* 
 * セレクタ:.courseGuide
 * 概要   :コース案内についてのスタイル
 * 作成者 :T.Yamamoto
 * 作成日 :2015.02.09
 * 変更者 :T.Masuda
 * 変更日 :2015.02.26
 * 内容　 :幅を広くしました。
 */
.courseGuide {
    margin: 0 0 20px;  	 					/* 下に20px余白を空ける */
    width: 56%;    							/* 幅を56%にする */
    float: left;     					   	/* 左回りに回り込みできるようにする */
}

/* 
 * セレクタ:.courseGuide
 * 概要   :コース案内についてのスタイル
 * 作成者 :T.Yamamoto
 * 作成日 :2015.02.09
 * 変更者 :T.Masuda
 * 変更日 :2015.02.26
 * 内容　 :幅を広くしました。
 */
.guideTable {
}

/* 
 * セレクタ:.guideTable .summary
 * 概要   :案内テーブル概要のスタイル
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
.guideTable .summary {
 	background:	rgb(206,220,58);	/* 黄緑の背景を設定する。 */
	color: #FFF;					/* フォントの色を白にする。 */
	font-size: 16px;		/* フォントのサイズを普通にする。 */
	margin-bottom: 0px;		/* 下marginをなくす。 */
	padding: 10px 5px;		/* 全方向にpaddingを指定する。 */
	text-align: center;		/* 文字を中心に揃える。 */
}

/* 
 * セレクタ:.guideTable td,.guideTable th
 * 概要   :案内テーブルセルのスタイル
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
.guideTable td,.guideTable th {
    padding: 10px;      	/* 幅を10px広げる */
    font-size: 11px;		/* フォントのサイズを小さめにする。 */
    text-align: left;	/* 文字を左に寄せる、 */
    border: 1px solid #D0D0AC;	/* 黄緑の罫線で区切る。 */
}

/* 
 * セレクタ:.guideHead th
 * 概要   :案内テーブル見出し行のセルのスタイル
 * 作成者 :T.Masuda
 * 作成日 :2015.02.27
 */
.guideHead th{
	background: #F0F3F5;	/* 背景色を薄い青にする。 */
	background: #F0F3F5;	/* 背景色を薄い青にする。 */
    font-size: 13px;		/* フォントのサイズをやや小さめにする。 */
    font-weight: bold;		/* フォントを太字にする。 */
    text-align: center;		/* 文字を中央に寄せる。 */
    vertical-align: middle;	/* 高さを中心に合わせる。 */
}

/* 
 * セレクタ:.stage,.times,.price
 * 概要   :コース案内のセルについてのスタイル
 * 作成者 :T.Masuda
 * 作成日 :2015.02.24
 */
.stage,.times,.price {
}

/* 
 * セレクタ:.price
 * 概要   :コース案内の金額セルについてのスタイル
 * 作成者 :T.Masuda
 * 作成日 :2015.02.24
 */
.price {
	color		: #007698;	/* フォントの色を濃い青にする。 */
	font-weight	: bold;		/* 太字にする。 */
}

/* 
 * セレクタ:.lessonSchedule
 * 概要   :レッスンスケジュール(時間割)についてのスタイル
 * 作成者 :T.Yamamoto
 * 作成日 :2015.02.09
 * 変更者 :T.Masuda
 * 変更日 :2015.02.26
 * 内容　 :幅を広くしました。
 */
.lessonSchedule {
    margin: 0 0 5px;   /* 下に余白を5pxとる */
    width:  42%;        /* レッスンスケジュールテーブル全体の幅を42%にする */
    float: right;       /* 右回りに回り込みする */
}

/* 
 * セレクタ:.lessonSchedule .summary
 * 概要   :レッスンスケジュールの概要についてのスタイル
 * 作成者 :T.Yamamoto
 * 作成日 :2015.02.09
 * 変更者 :T.Masuda
 * 変更日 :2015.02.24
 * 内容　 :下のmarginを減らしました。
 */
.lessonSchedule .summary {
	text-align: center;		/* 中央揃えにする */
}

/* 
 * セレクタ:.lessonSchedule th, .lessonSchedule td
 * 概要   :レッスンスケジュールのレコードについてのスタイル
 * 作成者 :T.Yamamoto
 * 作成日 :2015.02.09
 * 変更者 :T.Masuda
 * 変更日 :2015.02.24
 * 内容　 :下のpaddingを減らしました。幅の設定は効かないので消しました。
 */
.lessonSchedule th, .lessonSchedule td {
    border: 1px solid #D0D0AC;	/* 黄緑の罫線で区切る。 */
    padding: 10px;      	/* 幅を10px広げる */
}

/* 
 * セレクタ:.lessonSchedule .tableHead
 * 概要   :レッスンスケジュールの曜日のセル
 * 作成者 :T.Masuda
 * 作成日 :2015.02.24
 */
.lessonSchedule .tableHead {
	text-align: center;	/* 文字を中心に寄せる。 */
	font-size: 13px;	/* フォントサイズをこのテーブル内の中間にする */
	font-weight: bold;	/* 太字にする。 */
	background: #F0F3F5;	/* 背景色を薄い青にする。 */
}

/* 
 * セレクタ:.lessonSchedule .period
 * 概要   :レッスンスケジュールの時限のセル
 * 作成者 :T.Masuda
 * 作成日 :2015.02.24
 */
.lessonSchedule .period {
	text-align: left;	/* 文字を左に寄せる。 */
	font-size: 11px;	/* フォントサイズをこのテーブル内の最小にする */
}

/* 
 * セレクタ:.lessonSchedule .hour
 * 概要   :レッスンスケジュールの時間のセル
 * 作成者 :T.Masuda
 * 作成日 :2015.02.24
 */
.lessonSchedule .hour {
	text-align: left;	/* 文字を左に寄せる。 */
	font-size: 11px;	/* フォントサイズをこのテーブル内の最小にする */
}

/* 
 * セレクタ:.commonText 
 * 概要   :特徴についてのスタイル
 * 作成者 :T.Yamamoto
 * 作成日 :2015.02.09
 * 変更者 :T.Masuda
 * 変更日 :2015.02.22
 * 内容　 :幅の記述を削除しました。
 * 変更者 :T.Masuda
 * 変更日 :2015.02.24
 * 内容　 :marginを変更しました。。
 * 変更者 :T.Masuda
 * 変更日 :2015.02.26
 * 内容　 :marginを下だけにし、clearの値を変えました。
 */
.commonText {
    clear: both;    		/* 回り込みをなくす */
    margin-bottom: 10px;	/* 下にmarginを指定する。 */
}

/* 
 * セレクタ:.commonText td, .salesPoint td, .memberRule td
 * 概要   :リスト項目ついてのスタイル
 * 作成者 :T.Yamamoto
 * 作成日 :2015.02.09
 * 変更者 :T.Masuda
 * 変更日 :2015.02.24
 * 内容　 :paddingを狭めました。字下げも増やしました。
 * 変更者 :T.Masuda
 */
.commonText td, .salesPoint td, .memberRule td{
    padding: 3px 0;   			/* 上下に3pxの余白をとる */
    font-size: 13px;			/* フォントのサイズを13pxにする */
    line-height: 16px;			/* 行の高さを多めに取る。 */
    padding-left: 2.9em;	   	/* 頭をキャプションの2文字目に合わせる。 */
    text-indent: -1em;	   		/* 先頭の文字を1文字分左にずらす。 */
}

/* 
 * セレクタ:.salesPoint 
 * 概要   :特徴についてのスタイル
 * 作成者 :T.Yamamoto
 * 作成日 :2015.02.09
 * 変更者 :T.Masuda
 * 変更日 :2015.02.22
 * 内容　 :幅の記述を削除しました。
 * 変更者 :T.Masuda
 * 変更日 :2015.02.26
 * 内容　 :marginを下だけにしました。
 */
.salesPoint {
	margin-bottom: 10px;	/* 下のmarginを指定する。 */
}

/* 
 * セレクタ:.memberRule
 * 概要   :会員規約についてそれぞれの項目のスタイル
 * 作成者 :T.Yamamoto
 * 作成日 :2015.02.09
 * 変更者 :T.Masuda
 * 変更日 :2015.02.26
 * 内容　 :marginを減らしました。
 */
.memberRule {
    width: 780px;    		/* 幅を780pxにする */
    margin-bottom: 5px;	/* 下marginを5pxにする。 */
}


/* 
 * セレクタ:.commonText, .salesPoint, .memberRule
 * 概要   :箇条書きのスタイル
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
.commonText, .salesPoint, .memberRule{
	width: 100%;				/* 幅をmain一杯に広げる。 */
}

/* 
 * セレクタ:.commonText .listHead, .salesPoint .listHead, .memberRule .listHead
 * 概要   :箇条書きの概要のスタイル
 * 作成者 :T.Masuda
 * 作成日 :2015.02.25
 * 変更者 :T.Masuda
 * 変更日 :2015.02.26
 * 内容　 :ご入会メリット追加
 */
.commonText .listHead, .salesPoint .listHead, .memberRule .listHead{
    font-size: 18px;    			/* 文字のサイズを18pxにする */
    font-weight: bold;				/* 太字にする。 */
    text-align: left;  				/* 文字を左寄せにする */
    margin-bottom: 5px;				/* 下方向に余白を5pxとる */
    padding-bottom: 6px;			/* 下線との間に余白を文字1/3とる */
    border-bottom: 1px solid #666;	/* 下線を引く */
}



.commonText td:before, .salesPoint td:before, .memberRule td:before {
	content: "●";
	font-size: 12px;
}

.memberRule tr:last-child td:before {
	content: "＊";
	font-size: 14px;
}

/* 
 * セレクタ:.merit
 * 概要   :ご入会メリット
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
.merit, .reservedFlow {
	clear: both;				/* 回り込みの対象にしない。 */
	margin-bottom: 10px;		/* コンテンツの後に間隔を取る */
	margin-top: 60px;			/* 上のmarginを挿入する。子要素をずらした分を考慮した値を指定する。 */
	color: #555;
}
/* 
 * セレクタ:.merit > *
 * 概要   :ご入会メリットのタグ直下の全要素。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
.merit > *,.reservedFlow > * {
	position: relative;	/* 座標をずらしてレイアウトを作るためにこの設定をまず行う。 */
	top: -13px;			/* 対象の要素を上にずらす。 */
}

/* 
 * セレクタ:.merit .meritTitle
 * 概要   :ご入会メリットのタイトル部分
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
 .merit .meritTitle, .reservedFlow .reservedFlowTitle{
	clear: both;					/* 回り込みをなくす */
	text-align: left;				/* 左にそろえる */
	height: 35px;					/* 帯の高さ */
	top: 0px;						/* 上にずらさない */
	margin-bottom: 28px;			/* 下に適切なmarginを挿入する */
	background: rgb(206,220,58);	/* 背景を黄緑色にする。 */
}

/* 
 * セレクタ:.merit > *
 * 概要   :ご入会メリットのタイトル内の要素
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
.merit .meritTitle > *, .reservedFlow .reservedFlowTitle > *{
	position: relative;		/* 座標をずらすためにこの設定をする。 */
	top: -47px;				/* 上にずらす。 */
}

/* 
 * セレクタ:.merit .meritTitleText
 * 概要   :ご入会メリットのタイトルのテキスト。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.25
 */
.merit .meritTitleText, .reservedFlow .reservedFlowTitleText{
	color: #FFF;				/* 白抜き文字にする。 */
	vertical-align: bottom;		/* 高さを中心に合わせる。 */
	font-size: 18px;			/* フォントサイズを18pxに設定する。 */
	vertical-align: middle;		/* 高さを中心揃えにする */
	position: relative;			/* 相対位置指定をする */
	top: -58px;					/* 位置を上にずらす。 */
}
	
/* 
 * セレクタ:.merit .meritImgLeft
 * 概要   :ご入会メリットのタイトルの左側の画像。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.27
 */
.merit .meritImgLeft {
}

/* 
 * セレクタ:.merit .meritImgRight
 * 概要   :ご入会メリットのタイトルの右側の画像。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.25
 */
.merit .meritImgRight{
}

/* 
 * セレクタ:.merit .meritImageToExperience
 * 概要   :ご入会メリットの体験レッスンリンク画像。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
 .merit .meritToExperience {
	float: right;			/* 右に寄せる。 */
	top: -25px;				/* 上にずらす。 */		
	margin-right: 1px;		/* 右にmarginを挿入する。 */
	margin-left: 5px;		/* 左にmarginを挿入する。文字との間に間隔を取る。 */
	display: block;			/* ブロック要素にして中の画像のサイズを認識する。 */
	width: 107px;			/* 画像サイズに合わせる */
	height: 123px;			/* 画像サイズに合わせる */
	z-index: 2;				/* 重なりを上にする。 */
}

/* 
 * セレクタ:.merit .meritImageToExperience:hover
 * 概要   :ご入会メリットの体験レッスンリンク画像にマウスを重ねたときの処理。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
 .merit .meritToExperience:hover {
 	opacity: 0.5;	/* 透過する。 */
}

/* 
 * セレクタ:.merit dt,.merit dd
 * 概要   :ご入会メリット、各項目
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
.merit dt,.merit dd, .reservedFlow dt, .reservedFlow dd{
    padding: 2px 0em;	/* 適切に間隔を取る */
}

/* 
 * セレクタ:.merit dt
 * 概要   :ご入会メリット、各項目見出し
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
.merit dt, .reservedFlow dt{
    font-size: 15px;    					/* 文字のサイズを15pxにする */
    padding-left: 0.7em;					/* 適切にインデントをつける。 */
    font-weight: bold;						/* 太字にして勢いをつける。 */
    margin: 14px 0 3px 0;					/* 下にmarginを入れる */
    border-left: solid 5px rgb(206,220,58);	/* 頭に緑の傍線をつける。 */
    background:	#EEE;						/* 背景色をつけて帯をつくる。 */
}

/* 
 * セレクタ:.merit dd
 * 概要   :ご入会メリット、各項目内容
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
.merit dd, .reservedFlow dd{
    padding-left: 2em;	/* 更にインデントをつける。 */
}

/* 
 * セレクタ:.photoGallery
 * 概要   :コース案内コンテンツ内のフォトギャラリー。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.25
 */
.photoGallery{
	height: 36px;					/* 全体を包むだけの高さを設定する。 */
	width: 100%;					/* mainに合わせた幅を設定する。 */
	background: rgb(206,220,58);	/* 黄緑の背景を設定する。 */
	margin: 55px auto 0px;			/* 座標をずらした分の上marginを設定する。加えて中央に寄せる。 */
}

/* 
 * セレクタ:.photoGallery > *
 * 概要   :フォトギャラリーのタグ直下の全要素。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.25
 */
.photoGallery > * {
	position: relative;	/* 座標をずらしてレイアウトを作るためにこの設定をまず行う。 */
	top: -50px;			/* 対象の要素を上にずらす。 */
}

/* 
 * セレクタ:.photoGallery .galleryTitle
 * 概要   :フォトギャラリーのタイトル領域。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.25
 */
.photoGallery .galleryTitle{
	width: 100%;			/* 中央寄せにより固定値での幅設定は必要なし。 */
	margin: 0px auto 6px;		/* 中央に寄せて、下に最低限のmarginを取る。 */
	font-size: 0px;			/* インライン要素特有の余白を消す。 */
	text-align: left;		/* 要素を中央に集める。 */
}

/* 
 * セレクタ:.photoGallery .galleryTitleText
 * 概要   :フォトギャラリーのタイトルのテキスト。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.25
 */
.photoGallery .galleryTitleText{
	vertical-align: bottom;		/* 高さを中心に合わせる。 */
	font-size: 22px;			/* フォントサイズを22pxに設定する。 */
	color: #FFF;				/* 白抜き文字にする。 */
}
	
/* 
 * セレクタ:.photoGallery .galleryImgLeft
 * 概要   :フォトギャラリーのタイトルの左側の画像。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.25
 */
.photoGallery .galleryImgLeft{
	vertical-align: bottom;		/* 高さを底に合わせる。 */
	margin: 0 11px 0 26px;		/* 左右にmarginを設定する。左は右の画像との幅合わせ、右は文字との間隔調整となる。 */
}

/* 
 * セレクタ:.photoGallery .galleryImgRight
 * 概要   :フォトギャラリーのタイトルの右側の画像。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.25
 */
.photoGallery .galleryImgRight{
	vertical-align: middle;		/* 高さを中心に合わせる。 */
	margin: 0 0 0 11px;		/* 左にmarginを設定する。文字との間隔調整となる。 */
}

/* 
 * セレクタ:.photoGallery .galleryImgRightFlower
 * 概要   :フォトギャラリーのタイトルの右側のお花の画像。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
.photoGallery .galleryImgRightFlower{
	/* 絶対位置を指定する。これによりタイトルのレイアウトを崩さずに画像が置かれる。 */
	position: absolute;	
}
	
/* 
 * セレクタ:.footGallery
 * 概要   :jQueryプラグイン「Slick」によるカルーセルとなる要素
 * 作成者 :T.Masuda
 * 作成日 :2015.02.04
 */
.footGallery{
    width: 800px;       /* 幅770px */
    height: 120px;      /* 高さを110pxに指定する。 */
    margin: 0 auto;     /* 中央に寄せる。 */
    clear: both;        /* 回り込みを無効にする */
    border: 1px solid #D0D0AC;
    border-bottom-width: 1px;
}

/* 
 * セレクタ:.footGallery img
 * 概要   :カルーセルで表示する画像のサイズを200pxの正方形にする。
 * 作成者 :T.Yamamoto
 * 作成日 :2015.02.09
 * 変更者 :T.Yamamoto
 * 変更日 :2015.02.09
 * 内容　 :幅を変更しました。
 * 変更者 :T.Masuda
 * 変更日 :2015.02.26
 * 内容　 :高さ、幅を変更しました。
 */
.footGallery img{
    width:  auto;  	/* 幅を自動調整にする */
    height: 120px;  /* 高さを固定にする */
}

/* 
 * セレクタ:.footGallery > div
 * 概要   :ギャラリー直下のdiv
 * 作成者 :T.Masuda
 * 作成日 :2015.02.27
 */
 .footGallery > div {
    border-bottom: 1px solid #D0D0AC;    /* 下に黄緑の線を引く。 */
    
}

/* smooth div scrollの矢印 */
#mixedContent .contentBox {
    position: relative;
    float: left;
    display: block;
    height: 308px;
    width: 200px;
    border: solid 1px #ccc;
    padding: 10px;
    margin: 0px 5px;
}