@CHARSET "UTF-8";

	/* 
	 * セレクタ:.pageTitle
	 * 概要   :タイトル領域
	 * 作成者 :T.Masuda
	 * 作成日 :2015.02.24
	 */
	.pageTitle{
	    width: 100%;        /* 可変幅に設定する。 */
	    margin-top: 0;		/* 上のmarginをなくす。 */
	}

    /* 
     * セレクタ:.pageTitle img
     * 概要   :スマホ用コンテンツのスタイル
     * 作成者 :T.Yamamoto
     * 作成日 :2015.02.16
     * 変更者  :T.Masuda
     * 変更日  :2015.02.22
     * 内容　  :幅とmarginを変更。
     * 変更者  :T.Masuda
     * 変更日  :2015.02.23
     * 内容　  :marginを変更。
     */
    .pageTitle img {
        width: 15%;            /* 幅を可変にする */
        height: auto;          /* 高さを自動調整する */
        margin: 0 4% 0px 1%;	/* 左右にmarginを配置する。 */
    }

    /* 
     * セレクタ   :.pageTitle .title
     * 概要    :スマホ用タイトル部分h1のスタイル
     * 作成者  :T.Yamamoto
     * 作成日  :2015.02.22
     * 変更者  :T.Masuda
     * 変更日  :2015.02.22
     * 内容　  :幅とmarginを変更。
     * 変更者  :T.Masuda
     * 変更日  :2015.02.24
     * 内容　  :paddingを変更。
     */
    .pageTitle .title {
        font-weight: bold;  /* 文字を太くする */
        font-size: 17px;    /* フォントサイズ17pxにする */
        padding: 1% 0 5px;  /* 上下にpaddingを挿入する。 */
		width: 65%;			/* 幅を可変にする。 */
		float: none;		/* floatを解除する。 */
		margin: 2% auto 0;	/* 可変のmarginを挿入する。加えて中央に寄せる。 */
		display: block;		/* ブロック要素にして中心寄せを有効にする。 */
    }

    /* 
     * セレクタ:.pageTitle .summary
     * 概要  :スマホ用コンテンツのスタイル
     * 作成者:T.Yamamoto
     * 作成日:2015.02.16
     * 変更者  :T.Masuda
     * 変更日  :2015.02.22
     * 内容　  :幅とmarginを変更。
     * 変更者  :T.Masuda
     * 変更日  :2015.02.23
     * 内容　  :幅を変更。
     * 変更者  :T.Masuda
     * 変更日  :2015.02.24
     * 内容　  :ブロック要素に変更しました。
     * 変更者  :T.Masuda
     * 変更日  :2015.02.26
     * 内容　  :幅を変更しました。また、marginの記述をなくしました。clear:bothを記述しました。
     */
    .pageTitle .summary{
		width: 90%;			/* 幅を可変にする。 */
        font-size: 11px;    /* フォントのサイズを12pxにする */
   		display: block;  	/* ブロック要素にする */
   		clear: both;		/* 回り込みをなくす。 */
    }

    /* 
     * セレクタ:.courseGuide
     * 概要   :スマホ用コース案内テーブルのスタイル
     * 作成者 :T.Yamamoto
     * 作成日 :2015.02.16
     * 変更者 :T.Masuda
     * 変更日 :2015.02.22
     * 内容　 :table-layoutを記述しました。
     * 変更者 :T.Masuda
     * 変更日 :2015.02.24
     * 内容　 :幅調整とfloatの解除を行いました。中央寄せの設定をしました。下marginを入れました。
     */
    .courseGuide {
        width: 90%;            /* 幅を60pxにする */
        height: auto;          /* 高さを自動にする */
        table-layout: fixed;	/* セルの幅を均等に割る。 */
        float: none;			/* floatを解除する。 */
        margin: 0 auto 15px;	/* 中央に寄せる。下にもmarginを追加する。 */
    }

    /* 
     * セレクタ:.lessonSchedule
     * 概要   :スマホ用レッスンスケジュールテーブルのスタイル
     * 作成者 :T.Yamamoto
     * 作成日 :2015.02.16
     * 変更者 :T.Masuda
     * 変更日 :2015.02.22
     * 内容　 :margin、幅を変更しました。
     * 変更者 :T.Masuda
     * 変更日 :2015.02.24
     * 内容　 :floatを解除しました。幅を狭めました。中央に寄せるようにしました。
     */
    .lessonSchedule {
        width: 90%;            	/* 幅を90%にする */
		margin: 0 auto 10px;	/* 中央に寄せる。 */
    	float: none;			/* 段組みレイアウトを解除する。 */
    }

    /* 
     * セレクタ:.commonText, .salesPoint, .memberRule
     * 概要   :スマホ用リストのスタイル
     * 作成者 :T.Yamamoto
     * 作成日 :2015.02.16
     * 変更者 :T.Masuda
     * 変更日 :2015.02.21
     * 内容　 :margin、幅を変更しました。
     * 変更者 :T.Masuda
     * 変更日 :2015.02.24
     * 内容　 :margin、幅を変更しました。
     */
    .commonText, .salesPoint, .memberRule {
        width: 90%;            /* 幅を90%にする */
        margin: 15px auto;     /* 上に余白を10px、中央に寄せる。 */
        line-height: 1.5;      /* 1行の高さを1.5行分にする */
        padding-left: 1em;     /* インデントを一つとる */
    }

    /* 
     * セレクタ:.commonText .listHead, .salesPoint .listHead, .memberRule .listHead
     * 概要   :スマホ用リストのスタイル
     * 作成者 :T.Yamamoto
     * 作成日 :2015.02.16
     * 変更者 :T.Masuda
     * 変更日 :2015.02.24
     * 内容　 :text-alignを変更しました。下marginを調整しました。
     */
    .commonText .listHead, .salesPoint .listHead, .memberRule .listHead {
        font-size: 13px;        /* 文字サイズを14pxにする */
        margin-bottom: 8px;		/* 下に8pxのmarginを挿入する。 */
    }

    /* 
     * セレクタ:.commonText td, .salesPoint td, .memberRule td
     * 概要   :スマホ用リストのスタイル
     * 作成者 :T.Yamamoto
     * 作成日 :2015.02.16
     * 変更者 :T.Masuda
     * 変更日 :2015.02.24
     * 内容   :インデントの調整をしました。
     */
    .commonText td, .salesPoint td, .memberRule td {
        text-align: left;       /* 左寄りにする */
        font-size: 11px;        /* 文字サイズを11pxにする */
        padding-left: 2.5em;	/* インデントを調整する。 */
    }

/* 
 * セレクタ:.merit
 * 概要   :ご入会メリット
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
.merit {
	width: 90%;				/* 幅を少し狭めた上で可変にする。 */
	margin: 0 auto 10px;	/* 中央に寄せる。 */
}

/* 
 * セレクタ:.merit dt
 * 概要   :ご入会メリット、各項目見出し
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
.merit dt{
    font-size: 12px;    			/* 文字のサイズを12pxにする */
    padding-left: 0.5em;			/* 適切にインデントをつける。 */
}

/* 
 * セレクタ:.merit dd
 * 概要   :ご入会メリット、各項目内容
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
.merit dd{
    font-size: 11px;    	/* 文字のサイズを11pxにする */
	
    margin-bottom: 6px;		/* 各項目で十分に間を空ける。 */
    padding-left: 2.1em;	/* 更にインデントをつける。 */
	line-height: 16px;		/* スマホレイアウト時には行間を詰める。 */
}

/* 
 * セレクタ:.merit .meritTitle
 * 概要   :ご入会メリット、タイトル領域
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
.merit .meritTitle {
}

/* 
 * セレクタ:.merit .meritImgLeft
 * 概要   :ご入会メリット、左の画像
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
.merit .meritImgLeft {
	width: 52px;	/* 画像のサイズを半分にする。 */
}

/* 
 * セレクタ:.merit .meritImgRight
 * 概要   :ご入会メリット、右の画像
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
.merit .meritImgRight {
	width: 50px;	/* 画像のサイズを半分にする。 */
}

/* 
 * セレクタ:.photoGallery
 * 概要   :コース案内コンテンツ内のフォトギャラリー。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.25
 */
.photoGallery{
	width: 90%;				/* 余白を考えた幅に設定する。 */
	margin-top: 0px;		/* 上のmarginをなくす。 */
}

/* 
 * セレクタ:.photoGallery .galleryTitle
 * 概要   :フォトギャラリーのタイトル領域。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.25
 */
.photoGallery .galleryTitle{
	width: 100%;			/* 中央寄せにより固定値での幅設定は必要なし。 */
}

/* 
 * セレクタ:.photoGallery .galleryTitleText
 * 概要   :フォトギャラリーのタイトルのテキスト。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.25
 */
.photoGallery .galleryTitleText{
	font-size:18px;				/* フォントサイズを18pxに設定する。 */
}
	
/* 
 * セレクタ:.photoGallery .galleryImgLeft
 * 概要   :フォトギャラリーのタイトルの左側の画像。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.25
 */
.photoGallery .galleryImgLeft{
	vertical-align: bottom;		/* 高さを底に合わせる。 */
	margin: 0 11px 0 26px;		/* 左右にmarginを設定する。左は右の画像との幅合わせ、右は文字との間隔調整となる。 */
	width: 22px;
}

/* 
 * セレクタ:.photoGallery .galleryImgRight
 * 概要   :フォトギャラリーのタイトルの右側の画像。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.25
 */
.photoGallery .galleryImgRight{
	vertical-align: middle;		/* 高さを中心に合わせる。 */
	margin: 0 0 0 11px;		/* 左にmarginを設定する。文字との間隔調整となる。 */
	width: 35px;
}

/* 
 * セレクタ:.photoGallery .galleryImgRightFlower
 * 概要   :フォトギャラリーのタイトルの右側のお花の画像。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
.photoGallery .galleryImgRightFlower{
	display: none;	/* iPhoneの画面サイズではこの画像が入るスペースがないため、消しておく。 */
}


/* 
 * セレクタ:.footGallery
 * 概要   :jQueryプラグイン「Slick」によるカルーセルとなる要素
 * 作成者 :T.Masuda
 * 作成日 :2015.02.26
 */
.footGallery{
    width: 90%;       /* 幅をmarginを考慮した値にして取る。 */
}

/* 
 * セレクタ:.memberRule
 * 概要   :会員規約
 * 作成者 :T.Masuda
 * 作成日 :2015.02.27
 */
.memberRule {
	margin-bottom: 10px;	/* 最下部に来るので、フッターとのmarginを調整する。 */
}

/* 
 * セレクタ:.photoGallery > * 
 * 概要   :フォトギャラリーの直下要素
 * 作成者 :T.Masuda
 * 作成日 :2015.02.27
 */
.photoGallery > * {
	top: -10px;		/* 上にずらす。 */
}

/* 
 * セレクタ:.merit .meritTitle > * 
 * 概要   :入会メリットのタイトル領域の要素。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.27
 */
.merit .meritTitle > * {
	position: relative;	/* 相対位置要素に指定する */
	top: -7px;			/* 上にずらす。 */
}

/* 
 * セレクタ:.merit .meritTitle 
 * 概要   :入会メリットのタイトル領域。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.27
 */
.merit .meritTitle {
	height: 36px;					/* 高さを固定値で指定する。 */
	background: rgb(206,220,58);	/* 背景色を黄緑にする。 */
}

/* 
 * セレクタ:.merit .meritTitleText 
 * 概要   :入会メリットのタイトルのテキスト。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.27
 */
.merit .meritTitleText {
	font-size: 15px;	/* フォントサイズを中くらいに指定する。 */
	top: -18px;			/* 上にずらす。 */
}

/* 
 * セレクタ:.guideTable .summary
 * 概要   :案内テーブルのタイトル部分。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.27
 */
.guideTable .summary {
	font-size: 16px;	/* やや大きめのフォントを指定する。 */
}