@CHARSET "UTF-8";

/* 
 * セレクタ:.flowerBackground
 * 概要   :トップページの背景。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.21
 */
.flowerBackground{
    height: auto;          /* トップページ用の画像の高さに合わせた領域を形成する。 */
    width: 100%;          /* 外枠に幅を合わせる。 */
	margin-top: 1px!important;	/* スマホレイアウト時は上marginを固定にする。 */
}
/* 
 * セレクタ:.flowerImage
 * 概要   :トップページの背景画像。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.21
 */
.flowerImage{
	width:100%;
	height: auto;
}
