@CHARSET "UTF-8";

/* 
 * セレクタ:.flowerBackground
 * 概要   :トップページの背景。
 * 作成者 :T.Masuda
 * 作成日 :2015.02.21
 */
.flowerBackground{
    /*height: 772px;*/          /* トップページ用の画像の高さに合わせた領域を形成する。 */
}


 /* 
 * セレクタ:.topic
 * 概要   :トップページで最新の記事見出しを表示する小ウィンドウ。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */
.topic {
	width		:auto;			/*幅を内容に合わせる。*/
	padding		:10px;			/*内側に余白を作る。*/
	border		:solid 1px #555;/*灰色の枠線を引く。*/
	background	:#CEDC3A;		/*サイトのメインで使っている背景色を適用する。*/
	box-sizing	:border-box;	/*幅の計算をpadding、border込みにする。*/
	position	:absolute;		/*絶対位置を指定する。座標はJavaScriptで指定する。*/
}

 /* 
 * セレクタ:.topicTitle
 * 概要   :トピックのタイトル部分。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */
.topicTitle {
	font-size	:20px;		/*見出しにちょうどいいサイズのフォントサイズを指定する。*/
}

 /* 
 * セレクタ:.topicTitleDeco
 * 概要   :トピックのタイトル部分の「New」の文字。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */
.topicTitleDeco {
	font-size	:14px;			/*補足程度のフォントサイズにする。*/
	color		:#333;			/*濃いめの灰色の文字にする。*/
	background	:yellow;		/*黄色の背景にする。*/
	border		:solid　5px #CCC;	/*薄くて太い灰色の枠線を引く。*/
	border-radius:30px;			/*最大限角を丸める。*/
}

 /* 
 * セレクタ:.topicContent
 * 概要   :トピックの最新記事見出しの一覧を表示する領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */
.topicContent {
	margin		:2em 5px 4em;	/*上に2em、左右に5px、下に4emのmarginを配置する。*/
	width		:90px;			/*marginと合わせて100pxの幅を取る。*/
	display		:inline-block;	/*インラインブロックにして横並びにできるようにする。*/
}

 /* 
 * セレクタ:.topicContentImage
 * 概要   :トピックの最新記事の画像。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */
.topicContentImage {
	width		:90%;			/*少し余白が出る幅に設定する。*/
	text-align	:center;		/*中央に寄せる。*/
	margin		:10px 0 15px;	/*上下にmarginを設定する。*/
	border-radius:5px;			/*画像の4角を丸める。*/
}

 /* 
 * セレクタ:.topicContentDate
 * 概要   :トピックの最新記事の日付。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */
.topicContentDate {
	text-align:center;	/*中央に寄せる。*/
}

/* スマホ・タブレットレイアウト */
@media(max-width:680px){

	/* 
	 * セレクタ:.flowerBackground
	 * 概要   :トップページの背景。
	 * 作成者 :T.Masuda
	 * 作成日 :2015.02.21
	 */
	.flowerBackground{
	    height: auto;          /* トップページ用の画像の高さに合わせた領域を形成する。 */
	    width: 100%;          /* 外枠に幅を合わせる。 */
		margin-top: 1px!important;	/* スマホレイアウト時は上marginを固定にする。 */
	}
	/* 
	 * セレクタ:.flowerImage
	 * 概要   :トップページの背景画像。
	 * 作成者 :T.Masuda
	 * 作成日 :2015.02.21
	 */
	.flowerImage{
		width:100%;		/* 画像の幅を100%にする */
		height: auto;	/* 画像の幅に比率を合わせた高さにする */
	}
	
}
