@CHARSET "UTF-8";

 /* 
 * セレクタ:.myPageReserved
 * 概要   :マイページの予約一覧の領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */
.myPageReserved {
	width		:100%;			/*.mainの幅に合わせる。*/
	margin		:10px auto 20px;/*上下に適切なmarginを挿入する。*/
}

 /* 
 * セレクタ:.myPageReservedTitle
 * 概要   :マイページの予約一覧のタイトル。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */
.myPageReservedTitle {
	font-size	:20px;		/*フォントをタイトル用のサイズにする。*/
	padding-left:1em;		/*1文字分インデントする。*/
	margin		:10px 0 15px;/*上下に余白をつける。*/
	font-weight	:bold;		/*太字にする。*/
}


 /* 
 * セレクタ:.blogArticleTitle
 * 概要   :ブログ記事のタイトル領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */


 /* 
 * セレクタ:.blogArticleTitle
 * 概要   :ブログ記事のタイトル領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */


 /* 
 * セレクタ:.blogArticleTitle
 * 概要   :ブログ記事のタイトル領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */


 /* 
 * セレクタ:.blogArticleTitle
 * 概要   :ブログ記事のタイトル領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */


 /* 
 * セレクタ:.blogArticleTitle
 * 概要   :ブログ記事のタイトル領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */


 /* 
 * セレクタ:.blogArticleTitle
 * 概要   :ブログ記事のタイトル領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 *//* 
 * セレクタ:.blogArticleTitle
 * 概要   :ブログ記事のタイトル領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */


 /* 
 * セレクタ:.blogArticleTitle
 * 概要   :ブログ記事のタイトル領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */


 /* 
 * セレクタ:.blogArticleTitle
 * 概要   :ブログ記事のタイトル領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */


 /* 
 * セレクタ:.blogArticleTitle
 * 概要   :ブログ記事のタイトル領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */


 /* 
 * セレクタ:.blogArticleTitle
 * 概要   :ブログ記事のタイトル領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */


 /* 
 * セレクタ:.blogArticleTitle
 * 概要   :ブログ記事のタイトル領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */


 /* 
 * セレクタ:.blogArticleTitle
 * 概要   :ブログ記事のタイトル領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */


 /* 
 * セレクタ:.blogArticleTitle
 * 概要   :ブログ記事のタイトル領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */


 /* 
 * セレクタ:.blogArticleTitle
 * 概要   :ブログ記事のタイトル領域。
 * 設計者 :T.Masuda
 * 作成者 :T.Yamamoto
 * 作成日 :2015.03.12
 */

