<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- アクセス情報一覧 -->
	<dl class="accessInfo">
		<!-- アクセス情報のタイトルを表す -->
		<dt class="contentsBorder"></dt>
		<!-- アクセスの中身 -->
		<dd class="contentsBorderInText"></dd>
	</dl>
	
	<!-- スクールのGoogleMap -->
	<div class="accessMap">
		<!-- GoogleMapのインラインフレーム。 -->
		<iframe class="baseMap" height="" width="" frameborder="" scrolling="" marginheight="" marginwidth=""             src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=ja&amp;geocode=&amp;q=%E3%82%A2%E3%82%B3%E3%83%BC%E3%83%89%E3%83%93%E3%83%AB&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=44.928295,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%97%A5%E6%9C%AC,+%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%96%B0%E5%AE%BF%E5%8C%BA%E6%96%B0%E5%AE%BF%EF%BC%92%E4%B8%81%E7%9B%AE%EF%BC%91%EF%BC%92%E2%88%92%EF%BC%94+%E3%82%A2%E3%82%B3%E3%83%BC%E3%83%89%E3%83%93%E3%83%AB&amp;ll=35.690581,139.699500&amp;spn=0.01131,0.01929&amp;t=m&amp;&amp;output=embed&amp;z=15"
	>
		</iframe>		
	</div>


</div>
</body>
</html>