<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- 管理者のタブコンテント -->
	<div class="tabContainer" id="">
		<!-- タブを囲む領域 -->
		<ul class="tabs">
			<!-- 個々のタブ領域 -->
			<li class="tab">
				<!-- タブのクリックする領域 -->
				<a class="tabLink" href=""></a>
			</li>
		</ul>
		<!-- タブのコンテンツを囲む領域 -->
		<div class="tabContentArea"></div>
	</div>
	
	<!-- タブ内のコンテンツのタグ。必要なだけタブパネル領域に追加する -->
	<div class="tabInContent" id="">
	</div>
	
	<!-- 情報を格納するための共通のテーブルを作る -->
	<table class="infoTable">
		<tr>
			<td></td>
		</tr>
	</table>

	<!-- 日毎予約者一覧の日付領域 -->
	<p class="dateBelt"></p>

	<div class="dateSelect">
		<label class="dateHeadLabel"></label>
		<input class="dateInput" type="" >
		<input class="searchButton" type="" value="">
	</div>
	
	<!-- ユーザ一覧を操作するボタン -->
	<div class="userListButtons">
		<div class="firstRow">
			<input class="prev" type="" value="">
			<label class="records"></label>
			<input class="next" type="" value="">
		</div>
		<div class="secondRow">
			<input class="createMail" type="" value="">
			<input class="register" type="" value="">
		</div>
	</div>
</div>
</body>
</html>