<!-- 管理者ページのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- タブコンテンツ -->
	<div class="tabContainer">
	</div>


	<!-- タブのボタン群。カスタマイズタブ -->
	<ul class="customizeTabs">
		<li class="tab">
			<a href=""></a>
		</li>
	</ul>
	
	<!-- タブのボタン群。管理者画面 -->
	<ul class="adminTabs">
		<li class="optionButton">
			<a href="" class="optionLink" data-target=""></a>
		</li>
		<li class="customizeButton">
			<a href="" class="customizeLink" data-target=""></a>
		</li>
		<li class="adminBlogButton">
			<a href="" class="adminBlogLink" data-target=""></a>
		</li>
		<li class="campaignButton">
			<a href="" class="campaignLink" data-target=""></a>
		</li>
		<li class="studentButton">
			<a href="" class="studentLink" data-target=""></a>
		</li>
		<li class="reservedLessonButton">
			<a href="" class="reservedLessonLink" data-target=""></a>
		</li>
	</ul>
	
	
	<!-- カスタマイズタブのタブパネル群 -->
	<div class="customizePanels">
		<div class="commonJson" id="">
			<button class="saveButton" type="" target=""></button>
		</div>
		<div class="preserved" id="">
			<button class="saveButton" type="" target=""></button>
		</div>
		<div class="fresh" id="">
			<button class="saveButton" type="" target=""></button>
		</div>
		<div class="nfd" id="">
			<button class="saveButton" type="" target=""></button>
		</div>
		<div class="national" id="">
			<button class="saveButton" type="" target=""></button>
		</div>
		<div class="bridal" id="">
			<button class="saveButton" type="" target=""></button>
		</div>
		<div class="franchise" id="">
			<button class="saveButton" type="" target=""></button>
		</div>
		<div class="gallery" id="">
			<button class="saveButton" type="" target=""></button>
		</div>
		<div class="contact" id="">
			<button class="saveButton" type="" target=""></button>
		</div>
		<div class="access" id="">
			<button class="saveButton" type="" target=""></button>
		</div>
		<div class="experience" id="">
			<button class="saveButton" type="" target=""></button>
		</div>
		<div class="blog" id="">
			<button class="saveButton" type="" target=""></button>
		</div>
	</div>
	
	<!-- 管理者画面のタブパネル群 -->
	<div class="adminPanels">
		<div class="options" id=""></div>
		<div class="customize" id=""></div>
		<div class="adminBlogManagement" id=""></div>
		<div class="campaignManagement" id=""></div>
		<div class="studentManagement" id=""></div>
		<div class="reservedLessonManagement" id=""></div>
	</div>
	
	<!-- オプションタブの変更確定ボタン -->
	<div class="optionsConfirmChange">
		<button class="optionsConfirmChangeButton" type=""></button>
	</div>
	<!-- オプションタブのメールアドレス設定 -->
	<div class="optionsMyMail">
		<!-- オプションタブのラベル -->
		<span class="optionsLabel"></span>
		<!-- 管理者ユーザのメールアドレス設定テキストボックス -->
		<input class="optionsMyEmailForm" type="" name="" value="" onkeyDown="" style="text-decoration:none;">
	</div>
	
	<!-- 管理者ブログのタイトル設定 -->
	<div class="optionsAdminBlogTitle">
		<!-- オプションタブのラベル -->
		<span class="optionsLabel"></span>
		<!-- 管理者ブログのタイトル設定テキストボックス -->
		<input class="optionsAdminBlogTitleForm" type="" name="" value="" onkeyDown="" style="" autocomplete="">
	</div>
	
	<!-- オプションタブ 深夜のメール送信許可ラジオボタン -->
	<div class="optionsAllowMidnightMail">
		<!-- オプションタブのラベル -->
		<span class="optionsLabel"></span>
		<!-- 深夜のメール送信許可ラジオボタン。許可しないラジオボタン。 -->
		<input class="optionsAllowMidnightMailRadioForbidden" type="" name="" value="">
		<!-- 横並びのラベル -->
		<span class="optionsLabelInline1"></span>
		<!-- 深夜のメール送信許可ラジオボタン。許可するラジオボタン。 -->
		<input class="optionsAllowMidnightMailRadioAllow" type="" name="" value="">
		<!-- 横並びのラベル -->
		<span class="optionsLabelInline2"></span>
	</div>
	
	<!-- 受信するメールの種類を選択するラジオボタン -->
	<div class="optionsRecieveMailType">
		<!-- オプションタブのラベル -->
		<span class="optionsLabel"></span>
		<!-- チェックボックスその1。 -->
		<input class="optionsRecieveMailTypeCheck1" type="" name="" value="">
		<!-- 横並びのラベル -->
		<span class="optionsLabelInline1"></span>
		<!-- チェックボックスその2。 -->
		<input class="optionsRecieveMailTypeCheck2" type="" name="" value="">
		<!-- 横並びのラベル -->
		<span class="optionsLabelInline2"></span>
		<!-- チェックボックスその3。 -->
		<input class="optionsRecieveMailTypeCheck3" type="" name="" value="">
		<!-- 横並びのラベル -->
		<span class="optionsLabelInline3"></span>
	</div>

	<!-- キャンペーン作成画面のパーツをまとめる領域。 -->
	<form class="editCampaign" name="" action="" method="" value="" title=""></form>
	
	<!-- キャンペーン作成画面のパーツ。キャンペーン名編集 -->
	<div class="campaignTitle">
		<!-- ラベル -->
		<span class="campaignLabel"></span>
		<!-- キャンペーン名のテキストボックス。 -->
		<input class="campaignTitleTextBox" type="" value="" name="" required="">
	</div>
	<!-- キャンペーン種別 -->
	<div class="campaignType">
		<!-- キャンペーン種別のラベル -->
		<span class="campaignLabel"></span>
		<!-- キャンペーン種別のテキストボックス。 -->
		<input type="" class="campaignTypeTextBox" name="" value="" required="">
	</div>
	<!-- キャンペーンのキャッチコピー -->
	<div class="campaignCopy">
		<!-- キャッチコピーのラベル -->
		<span class="campaignLabel"></span>
		<!-- キャンペーン種別のテキストボックス。 -->
		<input type="" class="campaignCopyTextBox" name="" value="" required="">
	</div>
	<!-- キャンペーンの内容 -->
	<div class="campaignContent">
		<!-- キャンペーンの内容のラベル -->
		<span class="campaignLabel"></span>
		<!-- キャンペーンの内容のテキストボックス。 -->
		<textarea class="campaignContentTextArea" name="" value="" rows="" required=""></textarea>
	</div>
	<!-- キャンペーン金額 -->
	<div class="campaignPrice">
		<!-- キャンペーン金額のラベル -->
		<span class="campaignLabel"></span>
		<!-- キャンペーン金額のテキストボックス。 -->
		<input type="" class="campaignPriceTextBox" name="" value="" step="" required="">
		<!-- 「円」ラベル -->
		<span class="campaignLabelInline"></span>
	</div>
	<!-- キャンペーンの期間 -->
	<div class="campaignDates">
		<div class="campaignStartDate">
			<!-- 開始日のラベル -->
			<span class="campaignLabelInline1"></span>
			<!-- 開始日のテキストボックス。 -->
			<input type="" class="campaignStartDateTextBox" name="" value="" required="">
		</div>
		<div class="campaignEndDate">
			<!-- 終了日のラベル -->
			<span class="campaignLabelInline2"></span>
			<!-- 終了日のテキストボックス。 -->
			<input type="" class="campaignEndDateTextBox" name="" value="" required="">
		</div>
	</div>
	<!-- キャンペーンの上限人数設定 -->
	<div class="campaignMaxEntry">
		<!-- ラベル -->
		<span class="campaignLabel"></span>
		<!-- キャンペーン上限人数設定のテキストボックス。 -->
		<input type="" class="campaignMaxEntryTextBox" name="" value="" required="">
		<!-- 「人」ラベル -->
		<span class="campaignLabelInline"></span>
	</div>
	<!-- キャンペーンの編集確定ボタン、戻るボタン -->
	<div class="confirmEditCampaign">
		<input type="" onclick="" class="confirmEditCampaignButton" confirm="" value="">
		<button href="" class="cancelEditCampaignButton"></button>
	</div>

</div>

</div>
</body>
</html>