<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

<!-- ブログの左列 -->
<div class="blogLeftContent"></div>
<!-- ブログの右列 -->
<div class="blogRightContent"></div>



	<!-- ブログのタグ。 -->
	<div class="blog">
	</div>

	<!-- blogArticle -->
	<div class="blogArticle">
		<!-- ブログ記事のタイトル領域 -->
		<div class="blogArticleTitle">
			<!-- タイトル -->
			<h2 class="blogArticleTitleText"></h2>
			<!-- 日付 -->
			<time class="blogArticleDate"></time>
			<!-- ユーザーネーム -->
			<small class="blogArticleUserName"></small>
		</div>
		<!-- ブログ記事画像領域 -->
		<div class="blogArticleImages">
			<a class="blogArticleImage1" href="" rel=""><img class="photoImageThumb" src=""></a>
			<a class="blogArticleImage2" href="" rel=""><img class="photoImageThumb" src=""></a>
			<a class="blogArticleImage3" href="" rel=""><img class="photoImageThumb" src=""></a>
		</div>
		<!-- 本文 -->
		<p class="blogArticleText"></p>
	</div>
	<!-- blogArticle終わり -->

	<!-- ブログ左側の最新記事一覧 -->
	<ul class="currentArticleList">
		<!-- タイトル -->
		<h4 class="currentArticleListTitle"></h4>
		<!-- リスト内の1行 -->
		<li class="currentArticleListContent1">
			<!-- リンク -->
			<a class="currentArticleListContentLink" href="">
				<!-- 日付 -->
				<time class="currentArticleListContentDate"></time>
				<!-- ユーザネーム -->
				<small class="currentArticleListContentUser"></small>
				<!-- タイトル -->
				<p class="currentArticleListContentTitle"></p>
			</a>
		</li>
		<li class="currentArticleListContent2">
			<!-- リンク -->
			<a class="currentArticleListContentLink" href="">
				<!-- 日付 -->
				<time class="currentArticleListContentDate"></time>
				<!-- ユーザネーム -->
				<small class="currentArticleListContentUser"></small>
				<!-- タイトル -->
				<p class="currentArticleListContentTitle"></p>
			</a>
		</li>
		<li class="currentArticleListContent3">
			<!-- リンク -->
			<a class="currentArticleListContentLink" href="">
				<!-- 日付 -->
				<time class="currentArticleListContentDate"></time>
				<!-- ユーザネーム -->
				<small class="currentArticleListContentUser"></small>
				<!-- タイトル -->
				<p class="currentArticleListContentTitle"></p>
			</a>
		</li>
		<li class="currentArticleListContent4">
			<!-- リンク -->
			<a class="currentArticleListContentLink" href="">
				<!-- 日付 -->
				<time class="currentArticleListContentDate"></time>
				<!-- ユーザネーム -->
				<small class="currentArticleListContentUser"></small>
				<!-- タイトル -->
				<p class="currentArticleListContentTitle"></p>
			</a>
		</li>
		<li class="currentArticleListContent5">
			<!-- リンク -->
			<a class="currentArticleListContentLink" href="">
				<!-- 日付 -->
				<time class="currentArticleListContentDate"></time>
				<!-- ユーザネーム -->
				<small class="currentArticleListContentUser"></small>
				<!-- タイトル -->
				<p class="currentArticleListContentTitle"></p>
			</a>
		</li>
	</ul>
	<!-- ブログ、リスト終わり -->
	
	
	<!-- ブログリスト -->
	<ul class="blogArticleList">
		<!-- ブログリストテキスト -->
		<h4 class="blogArticleListTitle"></h4>
		<!-- リスト内の1行 -->
		<li class="blogArticleListContent">
			<!-- 日付 -->
			<time class="blogArticleListContentDate"></time>
			<!-- ユーザネーム -->
			<small class="blogArticleListContentTitle"></small>
		</li>
	</ul>
	<!-- ブログリスト終わり -->


</div>
</body>
</html>