<!-- ウェブサイト全体で頻繁に使われるパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

		<!-- ヘッダー ガイド領域 -->
		<div class="guides">
			<!-- フラワーアレンジメントスクール -->
			<div class="guideFASchool">
				<!-- リンクのタグ -->
				<a href="" class="toppageLink">
					<!-- お花アイコン -->
					<img src="" class="flowerIcon">
					<!-- 「フラワーアレンジメントスクール」のテキスト。 -->
					<p class="sideText"></p>
				</a>
			</div>
			<div class="guideTel">
				<img src="" class="telIcon">
				<p class="p1"></p>
				<p class="p2"><a href="" class="telLink"></a></p>
				<p class="p3"></p>
			</div>
			<div class="guideMail">
				<a href="" class="contactLink">
					<img src="" class="mailIcon">
				</a>
			</div>
			<div class="guideAccess">
				<a href="" class="accessLink">
					<img src="" class="accessIcon">
				</a>
			</div>
			<div class="guideTrial">
				<a href="" class="experienceLink"><img src="" class="experienceIcon"></a>
			</div>
			<div class="guideBlog">
				<a href="" class="guideBlogLink">
					<img src="" class="guideBlogIcon">
				</a>
			</div>
			<div class="guideSns">
				<a href="" target="" class="facebookLink">
					<img class="facebook" src="">
				</a>
				<a href="" target="" class="twitterLink">
					<img class="twitter" src="">
				</a>
			</div>
			<div class="guideLogin">
				<img class="login" src="">
			</div>
		</div>
		
		<!-- ヘッダー トップメニュー -->
		<ul class="topMenu">
				<li class="preservedButton">
					<a href="" title="" class="preservedLink">
						<p class="preservedText"></p>
					</a>
				</li>
				<li class="freshButton">
					<a href="" title="" class="freshLink">
						<p class="freshText"></p>
					</a>
				</li>
				<li class="nfdButton">
					<a href="" title="" class="nfdLink">
						<p class="nfdText"></p>
					</a>
				</li>
				<li class="nationalButton">
					<a href="" title="" class="nationalLink">
						<p class="nationalText"></p>
					</a>
				</li>
				<li class="bridalButton">
					<a href="" title="" class="bridalLink">
						<p class="bridalText"></p>
					</a>
				</li>
				<li class="franchiseButton">
					<a href="" title="" class="franchiseLink">
						<p class="franchiseText"></p>
					</a>
				</li>
				<li class="galleryButton">
					<a href="" title="" class="galleryLink">
						<p class="galleryText"></p>
					</a>
				</li>
				<li class="voiceButton">
					<a href="voice.html" title="" class="voiceLink">
						<p class="voiceText"></p>
					</a>
				</li>
		</ul>

	<!-- div追加領域 -->
	<div class="divArea"></div>

	<!-- ナンバリングの外枠 -->
	<div class="numberingOuter">
	</div>


	<!-- 記事ナンバリング(ページャ) -->
	<ul class="numbering">
		<!-- 前と後のボタンと5個の数字ボタン -->
		<li class="pre" onclick=""></li>
		<li class="1" onclick=""></li>
		<li class="2" onclick=""></li>
		<li class="3" onclick=""></li>
		<li class="4" onclick=""></li>
		<li class="5" onclick=""></li>
		<li class="next" onclick=""></li>
	</ul>

	<!-- テキスト入力ダイアログ -->
	<div class="textEditPopup">
		<div class="textEditPopupBody" id="">
			<h4 class="textEditNotice"></h4>
			<textarea class="textEdit"></textarea>
		</div>
	</div>

	<!-- カレンダー -->
	<div class="calendar" name=""></div>
	
	<!-- 画像を作るdiv -->
	
	<div class="createImage">
		<!-- 画像を挿入する -->
		<img src="" class="flowerImage">
	</div>

	<!-- タイトル。 -->
	<div class="pageTitle">
		<!-- アイコンと、タイトルテキスト領域 -->
		<div class="titleArea">
			<!-- タイトルの画像。 -->
			<img class="image" src="">
			<!-- タイトルの文 -->
			<span class="title"></span>
		</div>
		<!-- ページの概要 -->
		<h2 class="summary"></h2>
	</div>

	<!-- 注釈 -->
	<p class="annotation"></p>

<!-- フォトギャラリー。 -->
<div class="photoGallery">
	<!-- ギャラリーのタイトル。 -->
	<div class="contentsTitle">
		<!-- ギャラリー左の画像。 -->
		<img class="contentsImgLeftL" src="">
		<!-- ギャラリー中心のタイトル文字。 -->
		<span class="contentsTitleText"></span>
		<!-- ギャラリー右の画像。 -->
		<img class="contentsImgRight" src="">
		<!-- ギャラリー右の花画像。 -->
		<img class="contentsImgRightR" src="">
	</div>
</div>

	<!-- カルーセルのギャラリー。 -->
	<div class="footGallery">
		<!-- ギャラリーの画像。divタグ、aタグにimgタグを格納する構成。任意の数を用意する。現在は試験的に10個。 -->
			<a class="1stArt" href="" rel="">
				<img class="1stImage" src="" >
			</a>
			<a class="2ndArt" href="" rel="">
				<img class="2ndImage" src="" >
			</a>
			<a class="3rdArt" href="" rel="">
				<img class="3rdImage" src="" >
			</a>
			<a class="4thArt" href="" rel="">
				<img class="4thImage" src="" >
			</a>
			<a class="5thArt" href="" rel="">
				<img class="5thImage" src="" >
			</a>
			<a class="6thArt" href="" rel="">
				<img class="6thImage" src="" >
			</a>
			<a class="7thArt" href="" rel="">
				<img class="7thImage" src="" >
			</a>
			<a class="8thArt" href="" rel="">
				<img class="8thImage" src="" >
			</a>
			<a class="9thArt" href="" rel="">
				<img class="9thImage" src="" >
			</a>
			<a class="10thArt" href="" rel="">
				<img class="10thImage" src="" >
			</a>
	</div>

	<!-- カルーセルのギャラリー。 -->
	<div class="footGallery2" id="">
		<!-- ギャラリーの画像。divタグ、aタグにimgタグを格納する構成。任意の数を用意する。現在は試験的に10個。 -->
				<img class="1stImage" src="" >
				<img class="2ndImage" src="" >
				<img class="3rdImage" src="" >
				<img class="4thImage" src="" >
				<img class="5thImage" src="" >
				<img class="6thImage" src="" >
				<img class="7thImage" src="" >
				<img class="8thImage" src="" >
				<img class="9thImage" src="" >
				<img class="10thImage" src="" >
	</div>

	<!-- フッター -->
	<footer class="footer"><span class="copyright"></span></footer>

	<!-- 関数実行の確認ダイアログ -->
	<div class="funcConfirmDialog"></div>

	<!-- オプションのフォームのタグ。 -->
	<form class="optionForm" action="" method=""></form>


</div>
</body>
</html>