<!-- ログインを要するページ(管理者、ユーザ)用の共通パーツ -->
<!--
	ファイル名:commonUser.html
	概要　　　:ログインを要するページ(管理者、ユーザ)用の共通パーツテンプレートファイル
	作成日　　:2015.0612
	作成者　　:T.Masuda
	パス　　　:/template/commonUser.html
-->
<html>
<body>
<!-- テンプレート領域 -->
<div>
	<!-- 会員サイトヘッダー領域 -->
	<div class="memberHeader">
		<!-- 会員番号と会員名、所持ポイントを表示する領域 -->
		<div class="memberStatus">
			<!-- 会員番号 -->
			<span class="memberNumber">
				<!-- No.表示領域 -->
				<span class="noArea"></span>
				<!-- 番号表示領域 -->
				<span class="numberArea"></span>
			</span>
			<!-- 会員名 -->
			<span class="memberName">
				<!-- 名前表示領域 -->
				<span class="nameArea"></span>
			</span>
			<!-- クリックするとトップページにリンクを飛ばす領域 -->
			<a href="" class="topLink"></a>
		</div>
	</div>

	
	<!-- 画面上部へスクロールするボタン -->
	<a href class="returnTopPosition"></a>
	
	<!-- 汎用的なボタン -->
	<input class="normalButton" type="" value="">
</div>
</body>
</html>