<!-- お問い合わせページのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

<!-- お問い合わせフォーム。 -->
<form class="contactForm" action="" method="" >
	<!-- 問い合わせフォームのパーツ領域 -->
	<dl class="formBody cf">
    	<!-- 氏名 -->
		<dt class="name">
        	<!-- 項目名 -->
        	<span class="formContent"></span>
        	<!-- 必須入力の印「*」 -->
        	<span class="textRed"></span>
        	<!-- ルビ -->
        	<span class="formRuby"></span>
        </dt>
        <!-- 氏名を入力するテキストボックス -->
        <dd class="nameTextBox">
        	<!-- テキストボックス。 -->
        	<input type="" class="textBox1" name="" size="" required="">
        </dd>
        <!-- 性別 -->
		<dt class="sex">
        	<!-- 項目名 -->
        	<span class="formContent"></span>
        	<!-- 必須入力の印「*」 -->
        	<span class="textRed"></span>
        	<!-- ルビ -->
        	<span class="formRuby"></span>
        </dt>
        <!-- 性別を選択するラジオボタン -->
        <dd class="sexRadioButton">
        	<!-- 性別のラジオボタンとラベル。女、男の順。 -->
        	<input class="sexRadioButtonFemale" type="" name="" value=""  required="" checked=""><label class="sexRadioButtonFemaleLabel"></label>
            <input class="sexRadioButtonMale" type="" name="" value="" ><label class="sexRadioButtonMaleLabel"></label>
        </dd>
        <!-- メールアドレス -->
        <dt class="email">
        	<!-- 項目名 -->
        	<span class="formContent"></span>
        	<!-- 必須入力の印「*」 -->
        	<span class="textRed"></span>
        	<!-- ルビ -->
        	<span class="formRuby"></span>
        </dt>
        <!-- メールアドレスを入力するテキストボックス -->
        <dd class="emailTextBox">
        	<!-- テキストボックス。 -->
        	<input type="" class="textBox2" name="" size="" required="" onkeyDown="">
        </dd>
        <!-- 問い合わせ内容 -->
		<dt class="content">
        	<!-- 項目名 -->
        	<span class="formContent"></span>
        	<!-- 必須入力の印「*」 -->
        	<span class="textRed"></span>
        	<!-- ルビ -->
        	<span class="formRuby"></span>
        </dt>
        <!-- 問い合わせ内容欄 -->
        <dd class="contentTextArea">
        	<!-- テキストエリア -->
        	<textarea class="textArea1" name="" cols="" rows="" required=""></textarea>
        </dd>
    </dl>
    <!-- 送信ボタン。 -->
    <button type="" class="submitButton" value=""></button>
	<!-- 件名 -->
	<input class="mailSubject" type="" name="" value="">
</form>	
</div>
</body>
</html>