<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- レッスンスケジュールテーブル -->
	<table class="lessonSchedule">
		<!-- テーブルの概要 -->
		<caption class="summary"></caption>
		<!-- 1行目 -->
		<tr class="week">
			<!-- テーブルの見出しを幅2カラム分で作る -->
			<th colspan="2" class="createLabelTextBox"></th>
		</tr>
		<!-- 2行目 -->
		<tr class="firstPeriod">
			<!-- 行の見出し -->
			<th class="period"></th>
			<!-- 2カラム目の内容 -->
			<td class="hour"></td>
		</tr>
		<!-- 3行目 -->
		<tr class="secondPeriod">
			<!-- 行の見出し -->
			<th class="period"></th>
			<!-- 2カラム目の内容 -->
			<td class="hour"></td>
		</tr>
		<!-- 4行目 -->
		<tr class="thirdPeriod">
			<!-- 行の見出し -->
			<th class="period"></th>
			<!-- 2カラム目の内容 -->
			<td class="hour"></td>
		</tr>
		<!-- 5行目 -->
		<tr class="fourthPeriod">
			<!-- 行の見出し -->
			<th class="period"></th>
			<!-- 2カラム目の内容 -->
			<td class="hour"></td>
		</tr>
		<!-- 6行目 -->
		<tr class="fourthHalfPeriod">
			<!-- 行の見出し -->
			<th class="period"></th>
			<!-- 2カラム目の内容 -->
			<td class="hour"></td>
		</tr>
	</table>

	<!-- コース案内テーブル -->
	<div class="courseGuide">
		<table class="courseTable">
			<!-- テーブルの概要 -->
			<caption class="summary"></caption>
			<!-- 見出しの行 -->
			<tr class="courseGuideHead">
				<!-- 見出し3項目 -->
				<th class="stageHead"></th>
				<th class="timesHead"></th>
				<th class="priceHead"></th>
			</tr>
			<!-- 1行目 -->
			<tr class="firstStage">
				<!-- 行の見出し -->
				<th class="stage"></th>
				<!-- 2つ目のカラムの内容 -->
				<td class="times"></td>
				<!-- 3つ目のカラムの内容 -->
				<td class="price"></td>
			</tr>
			<!-- 2行目 -->
			<tr class="secondStage">
				<!-- 行の見出し -->
				<th class="stage"></th>
				<!-- 2つ目のカラムの内容 -->
				<td class="times"></td>
				<!-- 3つ目のカラムの内容 -->
				<td class="price"></td>
			</tr>
			<!-- 3行目 -->
			<tr class="thirdStage">
				<!-- 行の見出し -->
				<th class="stage"></th>
				<!-- 2つ目のカラムの内容 -->
				<td class="times"></td>
				<!-- 3つ目のカラムの内容 -->
				<td class="price"></td>
			</tr>
		</table>
	</div>

	<!-- ブライダルページアイテムテーブル -->
	<div class="bridalItemTable">
		<table class="courseTable">
			<!-- テーブルの概要 -->
			<caption class="summary"></caption>
			<!-- 1行目、テーブルの見出し -->
			<tr class="guideHead">
				<th class="tableHead"></th>
			</tr>
			<!-- 2行目、ブーケ -->
			<tr class="bouquet">
				<td class="lessonType"></td>
				<td class="price"></td>
			</tr>
			<!-- 3行目、ブーケ2 -->
			<tr class="bouquet2">
				<td class="lessonType"></td>
				<td class="price"></td>
			</tr>
			<!-- 4行目、ブートニア -->
			<tr class="boutonniere">
				<td class="lessonType"></td>
				<td class="price" colspan="" style=""></td>
			</tr>
			<!-- 5行目、ヘアパーツ -->
			<tr class="hairParts">
				<td class="lessonType"></td>
				<td class="price"></td>
			</tr>
			<!-- 6行目、リストレット -->
			<tr class="wristlet">
				<td class="lessonType"></td>
				<td class="price"></td>
			</tr>
			<!-- 7行目、フラワーシャワー -->
			<tr class="flowerShower">
				<td class="lessonType"></td>
				<td class="price"></td>
			</tr>
			<!-- 8行目、メインテーブル -->
			<tr class="mainTable">
				<td class="lessonType"></td>
				<td class="price"></td>
			</tr>
			<!-- 9行目、ゲストテーブル -->
			<tr class="guestTable">
				<td class="lessonType"></td>
				<td class="price"></td>
			</tr>
			<!-- 10行目、ヘアード（花冠） -->
			<tr class="haired">
				<td class="lessonType"></td>
				<td class="price"></td>
			</tr>
			<!-- 11行目、御両親贈呈用アレンン -->
			<tr class="arrange">
				<td class="lessonType"></td>
				<td class="price"></td>
			</tr>
			<!-- 12行目、ウェルカムボード -->
			<tr class="welcomeBoard">
				<td class="lessonType"></td>
				<td class="price"></td>
			</tr>
			<!-- 13行目、リングピロー -->
			<tr class="ringPillow">
				<td class="lessonType"></td>
				<td class="price"></td>
			</tr>
		</table>
		<p class="annotation"></p>
	</div>
	<!-- ブライダルページアイテムテーブル終わり -->

	<!-- 共通、会員規約、特徴の箇条書きリスト -->
	<ul class="itemList">
		<li class="listTitle"></li>
		<li class="listContent"></li>
	</ul>
	<!-- 共通、会員規約、特徴の箇条書きリスト終わり -->

	<!-- ご入会メリット、ご予約の流れ、国家資格とは -->
	<dl class="description">
		<!-- コンテンツのタイトルの背景(緑の帯部分) -->
		<div class="contentsTitleBack">
			<!-- タイトル領域 -->
			<div class="contentsTitle">
				<!-- タイトル左の画像。 -->
				<img class="contentsImgLeft" src="">
				<!-- タイトルテキスト。 -->
				<span class="contentsTitleText"></span>
				<!-- タイトル右の画像。 -->
				<img class="contentsImgRight" src="">
			</div>
		</div>
		<!-- 体験レッスンへリンクする画像。 -->
		<a class="meritToExperience" href="">
			<img class="meritImgToExperience" src="">
		</a>
		<!-- 1行目緑のボーダーと灰色背景の部分 -->
		<dt class="contentsBorder1"></dt>
		<!-- ボーダー内テキスト部分 -->
		<dd class="contentsBorderInText1"></dd>
		<!-- 2行目緑のボーダーと灰色背景の部分 -->
		<dt class="contentsBorder2"></dt>
		<!-- ボーダー内テキスト部分 -->
		<dd class="contentsBorderInText2"></dd>
		<!-- 3行目緑のボーダーと灰色背景の部分部分 -->
		<dt class="contentsBorder3"></dt>
		<!-- ボーダー内テキスト部分 -->
		<dd class="contentsBorderInText3"></dd>
		<!-- 4行目緑のボーダーと灰色背景の部分部分 -->
		<dt class="contentsBorder4"></dt>
		<!-- ボーダー内テキスト部分 -->
		<dd class="contentsBorderInText4"></dd>
		<!-- 5行目緑のボーダーと灰色背景の部分部分 -->
		<dt class="contentsBorder5"></dt>
		<!-- ボーダー内テキスト部分 -->
		<dd class="contentsBorderInText5"></dd>
		<!-- 6行目緑のボーダーと灰色背景の部分部分 -->
		<dt class="contentsBorder6"></dt>
		<!-- ボーダー内テキスト部分 -->
		<dd class="contentsBorderInText6"></dd>
	</dl>
	<!-- ご入会メリット、ご予約の流れ、国家資格とは終わり -->

</div>
</body>
</html>