<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

<!-- ブログ編集ページ 編集コンテンツ全体の領域 -->
<form class="blogEdit" name="" method="" action="" value="" title="">
</form>

<!-- 画像アップロードのボタン。隠す。 -->
<input type="file" style="cursor:pointer" class="blogEditImageUploader">

<!-- ブログ編集ページ タイトル編集の領域とテキストボックス。 -->
<div class="blogEditTitle">
	<input type="" class="blogEditTitleText" name="" required="">
</div>
<!-- ブログの画像編集領域。 -->
<div class="blogEditImages">
</div>
<!-- 画像1つに対する編集領域 -->
<section class="blogEditImagesSection">
	<!-- 画像サムネイル -->
	<img class="blogEditImagesSectionImage" src="" name="">
	<!-- 画像パスを保持する要素。隠す。 -->
	<input type="" value="" class="blogEditImagesSectionImagePath" name="">
</section>

<!-- ブログの本文編集領域。 -->
<div class="blogEditText">
	<!-- 本文を編集するためのテキストエリア -->
	<textarea class="blogEditTextarea" name="blogContent"  required="" />
</div>

<!-- ブログの公開設定 -->
<div class="blogPublication">
	<!-- 公開設定のラジオボタンとラベル3セット -->
	<input type="" class="blogPublicationRadio1" name="" checked="" value="">
	<label class="blogPublicationLabel1"></label>
	<input type="" class="blogPublicationRadio2" name="" value="">
	<label class="blogPublicationLabel2"></label>
	<input type="" class="blogPublicationRadio3" name="" value="">
	<label class="blogPublicationLabel3"></label>
</div>

<!-- ブログ記事作成の確定・キャンセルボタンの領域 -->
<div class="blogEditButtons">
</div>
</div>
</body>
</html>