<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>
	<!-- ダイアログエリア -->
	<div class="dialog"></div>

	<!-- お預かり金額と所持ポイントが表示される領域 -->
	<div class="memberInfomation">
		<!-- お預かり金額領域 -->
		<p class="keepMoney">
			<!-- 「お預かり金額」領域 -->
			<span class="keepMoneyText"></span>
			<!-- 「金額」領域 -->
			<span class="keepMoneyNumber"></span>
			<!-- 「円」領域 -->
			<span class="keepMoneyUnit"></span>
		</p>
		<!-- 所持ポイント領域 -->
		<p class="hasPoint">
			<!-- 「所持ポイント：」領域 -->
			<span class="hasPointText"></span>
			<!-- 「ポイント」領域 -->
			<span class="hasPointNumber"></span>
			<!-- 「pt」領域 -->
			<span class="hasPointUnit"></span>
		</p>
		<!-- 置換してテーブルを置く領域 -->
		<span class="replaceTable"></span>
	</div>

	<!-- ステータスの概要を表す領域 -->
	<div class="lessonStatus">
		<span class="lessonStatusText"></span>
	</div>

	<!-- テーブル領域 -->
	<div class="lessonTableArea">
	</div>

	<!-- アコーディオンの中身となるリスト -->
	<ul class="accordionDetail">
		<!-- 料金のリスト1 -->
		<li class="rateDetail1">
			<span class="lessonRate"></span>
			<span class="lessonRateNumber"></span>
			<span class="lessonRateUnit"></span>
			<span class="addRate"></span>
			<span class="addRateNumber"></span>
			<span class="addRateUnit"></span>
		</li>
		<!-- 料金のリスト2 -->
		<li class="rateDetail2">
			<span class="stageLabel"></span>
			<span class="stageNumber"></span>
			<span class="levelLabel"></span>
			<span class="levelNumber"></span>
			<span class="schedule"></span>
		</li>
		<!-- キャンセル概要 -->
		<li class="cancelRateSummary"></li>
		<!-- キャンセル内容 -->
		<li class="cancelRateText">
			<span class="cancelDayLabel"></span>
			<span class="cancelDayValue"></span>
			<span class="cancelDayValueUnit"></span>
			<span class="cancel1DayLabel"></span>
			<span class="cancel1DayValue"></span>
			<span class="cancel1DayValueUnit"></span>
			<span class="cancel2DayLabel"></span>
			<span class="cancel2DayValue"></span>
			<span class="cancel2DayValueUnit"></span>
		</li>
		<!-- 加算ポイント概要 -->
		<li class="addPointSummary"></li>
		<!-- 加算ポイント内容 -->
		<li class="addPointText1">
			<span class="addPoint1Label"></span>
			<span class="addPoint1Value"></span>
			<span class="addPoint1ValueUnit"></span>
			<span class="addPoint2Label"></span>
			<span class="addPoint2Value"></span>
			<span class="addPoint2ValueUnit"></span>
		</li>
		<li class="addPointText2">
			<span class="addPoint4Label"></span>
			<span class="addPoint4Value"></span>
			<span class="addPoint4ValueUnit"></span>
			<span class="addPoint8Label"></span>
			<span class="addPoint8Value"></span>
			<span class="addPoint8ValueUnit"></span>
		</li>
	</ul>

</div>
</body>
</html>