<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- お預かり金額と所持ポイントが表示される領域 -->
	<div class="memberStatus">
		<!-- お預かり金額領域 -->
		<span class="keepMoney">
			<!-- 「お預かり金額」領域 -->
			<span class="keepMoneyText"></span>
			<!-- 「金額」領域 -->
			<span class="keeoMoneyNumber"></span>
			<!-- 「円」領域 -->
			<span class="keepMoneyUnit"></span>
		</span>
		<!-- 所持ポイント領域 -->
		<span class="hasPoint">
			<!-- 「所持ポイント：」領域 -->
			<span class="hasPointText"></span>
			<!-- 「ポイント」領域 -->
			<span class="hasPointNumber"></span>
			<!-- 「pt」領域 -->
			<span class="hasPointUnit"></span>
		</span>
	</div>

	<!-- レッスンステータス(jqGrid)領域 -->
	<div id="" class="lessonStatusTable">
		<!-- JQ Gridによりリストを形成するtableタグ -->
		<table id="" class="list"></table>
	</div>

	<!-- ステータスの行を表す領域 -->
	<div class="statusArea">
		<!-- 残席などの情報エリア -->
		<span class="statusText"></span>
	</div>

	<!-- ステータスの概要を表す領域 -->
	<div class="statusSummary">
		<span class="summaryText"></span>
	</div>

	<!-- divを挿入する領域 -->
	<div class="insertDiv"></div>

	<!-- テーブル -->
	<table class="memberTable">
		<!--  -->
		<tr class="recordHead">
			<!--  -->
			<th class="fieldHead"></th>
		</tr>
		<!--  -->
		<tr class="recordContent">
			<!--  -->
			<td class="fieldContent"></td>
		</tr>
	</table>


</div>
</body>
</html>