<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- お預かり金額と所持ポイントが表示される領域 -->
	<div class="memberStatus">
		<!-- お預かり金額領域 -->
		<span class="keepMoney">
			<!-- 「お預かり金額」領域 -->
			<span class="keepMoneyText"></span>
			<!-- 「金額」領域 -->
			<span class="keeoMoneyNumber"></span>
			<!-- 「円」領域 -->
			<span class="keepMoneyUnit"></span>
		</span>
		<!-- 所持ポイント領域 -->
		<span class="hasPoint">
			<!-- 「所持ポイント：」領域 -->
			<span class="hasPointText"></span>
			<!-- 「ポイント」領域 -->
			<span class="hasPointNumber"></span>
			<!-- 「pt」領域 -->
			<span class="hasPointUnit"></span>
		</span>
	</div>

	<!-- レッスンステータス(jqGrid)領域 -->
	<div id="" class="lessonStatusTable">
		<!-- JQ Gridによりリストを形成するtableタグ -->
		<table id="" class="list"></table>
	</div>

	<!-- ステータスの概要を表す領域 -->
	<div class="lessonStatus">
		<span class="lessonStatusText"></span>
	</div>

	<!-- テーブル領域 -->
	<div class="tableArea">
		<!-- テーブル -->
		<table class="memberTable">
			<!-- テーブルのヘッダレコード -->
			<tr class="recordHead">
				<!-- フィールドのヘッダー -->
				<th class="fieldHead"></th>
			</tr>
			<!-- レコードのコンテンツ -->
			<tr class="recordContent">
				<!-- フィールドのコンテンツ -->
				<td class="fieldContent" colspan=""></td>
			</tr>
		</table>
	</div>

	<div class="detail">
		<!-- アコーディオンパネルでの詳細領域 -->
		<ul class="detailArea">
			<!-- 詳細の個々のエリア -->
			<li class="statusArea">
				<span class="statusText"></span>
			</li>
		</ul>
	</div>

</div>
</body>
</html>