<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<div class="specialGuide">
		<!-- 体験レッスン案内テーブル -->
		<table class="specialGuideTable">
			<!-- テーブルの概要 -->
			<caption class="summary"></caption>
			<!-- 1行目 -->
			<!-- 2行目 -->
			<tr class="doKnow">
				<!-- 行の見出し -->
				<th class="item"></th>
				<!-- 2カラム目の内容 -->
				<td class="content"></td>
			</tr>
			<!-- 3行目 -->
			<tr class="cost">
				<!-- 行の見出し -->
				<th class="item"></th>
				<!-- 2カラム目の内容 -->
				<td class="content"></td>
			</tr>
			<!-- 4行目 -->
			<tr class="times">
				<!-- 行の見出し -->
				<th class="item"></th>
				<!-- 2カラム目の内容 -->
				<td class="content"></td>
			</tr>
			<!-- 5行目 -->
			<tr class="hour">
				<!-- 行の見出し -->
				<th class="item"></th>
				<!-- 2カラム目の内容 -->
				<td class="content"></td>
			</tr>
			<!-- 6行目 -->
			<tr class="target">
				<!-- 行の見出し -->
				<th class="item"></th>
				<!-- 2カラム目の内容 -->
				<td class="content"></td>
			</tr>
			<!-- 7行目 -->
			<tr class="bring">
				<!-- 行の見出し -->
				<th class="item"></th>
				<!-- 2カラム目の内容 -->
				<td class="content"></td>
			</tr>
		</table>
		<p class="annotation"></p>
	</div>


    <div class="experienceGallery">
        <!-- ギャラリーの画像。divタグ、aタグにimgタグを格納する構成。任意の数を用意する。現在は試験的に10個。 -->
        <div class="experience1stDiv">
            <a class="experience1stArt" href="" rel="">
                <img class="experience1stImage" src="">
                <p class="construct1stName"></p>
            </a>
        </div>
        <div class="experience2ndDiv">
            <a class="experience2ndArt" href="" rel="">
                <img class="experience2ndImage" src="">
                <p class="construct2ndName"></p>
            </a>
        </div>
        <div class="experience3rdDiv">
            <a class="experience3rdArt" href="" rel="">
                <img class="experience3rdImage" src="">
                <p class="construct3rdName"></p>
            </a>
        </div>
        <div class="experience4thDiv">
            <a class="experience4thArt" href="" rel="">
                <img class="experience4thImage" src="">
                <p class="construct4thName"></p>
            </a>
        </div>
	</div>

</div>
</body>
</html>