<!-- ウェブサイト全体で頻繁に使われるパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- ログインダイアログ -->
	<div class="loginDialog">
		<!-- ユーザ名ラベル -->
		<label class="userNameLabel"></label>
		<!-- ユーザ名テキストボックス -->
		<input class="userName" type="" name="">
		<!-- パスワードラベル -->
		<label class="passwordLabel"></label>
		<!-- パスワードテキストボックス -->
		<input class="password" type="" name="">
		<small class="toEntryBefore"></small>
		<a class="toEntryPage" href=""></a>
		<small class="toEntryAfter"></small>
	</div>
	
</div>
</body>
</html>