<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- 情報領域 -->
	<div class="userBanner">
		<!-- バナーエリア -->
		<div class="bannerArea">
			<!-- バナーの外枠 -->
			<a class="banner" href="">
				<!-- バナーの画像 -->
				<img class="bannerImage" title="" src="" value="">
			</a>
		</div>
		<!-- 告知領域 -->
		<div class="advertise">
			<a class="advertiseLink" href="">
				<img class="advertiseImage" src="" title="">
			</a>
		</div>
	</div>

	<!-- タブコンテント -->
	<div class="lessonTab" id="">
		<!-- タブを囲む領域 -->
		<ul class="tabs">
			<!-- 個々のタブ領域 -->
			<li class="tab">
				<!-- タブのクリックする領域 -->
				<a class="tabLink" href=""></a>
			</li>
		</ul>
		<!-- タブのコンテンツを囲む領域 -->
		<div class="tabContentArea"></div>
	</div>

	<!-- タブ内のコンテンツ -->
	<div class="tabInContent" id="">
		<!-- テーマを絞り込むための領域 -->
		<div class="selectTheme">
			<!-- テーマと表示する領域 -->
			<p class="themeText"></p>
			<!-- テーマを選択するセレクトボックス -->
			<select class="selectThemebox">
				<!-- テーマのセレクトボックスの値 -->
				<option class="themeValue" value=""></opiton>
			</select>
			<!-- 絞り込みボタン -->
			<button class="selectThemeButton"></button>
		</div>
	</div>

	<!-- レッスンの内容を表すテーブル -->
	<div class="lessonDetail">
		<!-- 授業についての詳細テーブル領域 -->
		<table class="lessonTable" border="">
			<!-- テーブルのヘッダー -->
			<tr class="tablehead">
				<!-- フィールドのヘッダ -->
				<th class="fieldHead"></td>
			</tr>
			<!-- テーブルのコンテンツ領域 -->
			<tr class="row0">
				<td class="startDayTime"></td>
				<td class="finisihTime"></td>
				<td class="theme"></td>
				<td class="storePlace"></td>
				<td class="rate"></td>
				<td class="point"></td>
			</tr>
			<tr class="row1">
				<td class="startDayTime"></td>
				<td class="finisihTime"></td>
				<td class="theme"></td>
				<td class="storePlace"></td>
				<td class="rate"></td>
				<td class="point"></td>
			</tr>
			<tr class="row2">
				<td class="startDayTime"></td>
				<td class="finisihTime"></td>
				<td class="theme"></td>
				<td class="storePlace"></td>
				<td class="rate"></td>
				<td class="point"></td>
			</tr>
			<tr class="row3">
				<td class="startDayTime"></td>
				<td class="finisihTime"></td>
				<td class="theme"></td>
				<td class="storePlace"></td>
				<td class="rate"></td>
				<td class="point"></td>
			</tr>
			<tr class="row4">
				<td class="startDayTime"></td>
				<td class="finisihTime"></td>
				<td class="theme"></td>
				<td class="storePlace"></td>
				<td class="rate"></td>
				<td class="point"></td>
			</tr>
			<tr class="row5">
				<td class="startDayTime"></td>
				<td class="finisihTime"></td>
				<td class="theme"></td>
				<td class="storePlace"></td>
				<td class="rate"></td>
				<td class="point"></td>
			</tr>
			<tr class="row6">
				<td class="startDayTime"></td>
				<td class="finisihTime"></td>
				<td class="theme"></td>
				<td class="storePlace"></td>
				<td class="rate"></td>
				<td class="point"></td>
			</tr>
		</table>
		<!-- 注釈 -->
		<p class="anotion"></p>
	</div>
	
</div>
</body>
</html>