<!-- マイページのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- ブログ タイトル領域 -->
	<h2 class="myPageBlogTitle"></h2>

	<!-- マイページのブログの領域 -->
	<form class="myPageBlog" action="" method="" data-role=""></form>

	<!-- ブログボタン領域 -->
	<div class="myPageBlogButtons">
		<!-- 記事作成ボタン -->
		<input class="createArticleButton" type="" value="">
		<!-- 記事編集ボタン -->
		<input class="editArticleButton" type="" value="">
		<!-- 記事削除ボタン -->
		<input class="deleteArticleButton" type="" value="">
	</div>

	<!-- マイブログ、ブログ一覧テーブル領域 -->
	<table class="myBlogListTable">
		<tr>
			<td></td>
		</tr>
	</table>

</div>
</body>
</html>