<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- 会員サイトヘッダー領域 -->
	<div class="memberPageHead">
		<!-- 会員番号と会員名、所持ポイントを表示する領域 -->
		<div class="memberStatus">
			<!-- 会員番号 -->
			<span class="memberNumber">
				<!-- No.表示領域 -->
				<span class="noArea"></span>
				<!-- 番号表示領域 -->
				<span class="numberArea"></span>
			</span>
			<!-- 所持ポイント -->
			<span class="memberPoint">
				<!-- ポイント数字表示領域 -->
				<span class="pointNumberArea"></span>
				<!-- pt表示領域 -->
				<span class="ptArea"></span>
			</span>
			<!-- 会員名 -->
			<span class="memberName">
				<!-- 名前表示領域 -->
				<span class="nameArea"></span>
				<!-- 敬称「様」表示領域 -->
				<span class="nameTitleArea"></span>
			</span>
		</div>
		<!-- ヘッダーメニュー領域 -->
		<ul class="memberMenu">
			<li class="memberMenuList">
				<a class="memberMenuLink" href=""></a>
			</li>
		</ul>
	</div>

	<div class="topLinkArea">
		<a href="" class="topLink"></a>
	</div>

	<div class="passArea">
		<form class="postPass" action="">
			<p class="newPassLabel"></p>
			<input class="newPassTextbox" type="" name="">
			<p class="confirmLabel"></p>
			<input class="confirmPassTextbox" type="" name="">
			<input class="updateButton" type="" value="">
		</form>
	</div>

</div>
</body>
</html>