<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- お預かり金額と所持ポイントが表示される領域 -->
	<div class="subHeader">
		<h3 class="pageHeader"></h3>
		<!-- お預かり金額領域 -->
		<p class="keepMoney">
			<!-- 「お預かり金額」領域 -->
			<span class="keepMoneyText"></span>
			<!-- 「金額」領域 -->
			<span class="keepMoneyNumber"></span>
			<!-- 「円」領域 -->
			<span class="keepMoneyUnit"></span>
		</p>
		<!-- パスワード変更リンク-->
		<p class="passLinkArea">
			<!-- リンク領域 -->
			<a href="" class="passLink"></a>
		</p>
	</div>

	<!-- 会員情報エリア -->
	<div class="memberInfo">
		<!-- 会員の情報を更新するためにのフォーム -->
		<form class="infoForm" action=""></form>
	</div>

	<!-- ラベルとテキストボックス領域 -->
	<div class="labelTextbox">
		<!-- ラベル領域 -->
		<label class="labelArea"></label>
		<!-- テキストボックス -->
		<input class="textboxArea" type="" name="" value="">
	</div>
	<!-- 性別と生年月日の領域 -->
	<div class="subInfo">
		<label class="sexLabel"></label>
		<!-- 性別領域 -->
		<select class="sex" name="">
			<!-- 男性 -->
			<option class="male" value=""></opiton>
			<!-- 女性 -->
			<option class="female" value=""></opiton>
		</select>
		<!-- 「生年月日：」表示領域 -->
		<label class="birthdayLabel"></label>
		<!-- 生年月日テキストボックス -->
		<input class="birthday" type="" name="" value="">
	</div>

	<!-- 住所領域 -->
	<div class="addressArea">
		<!-- 「住所:」ラベル -->
		<label class="addressLabel"></label>
		<!-- 内容のテキストエリア -->
		<textarea class="address"></textarea>
	</div>

	<!-- 更新ボタンエリア -->
	<input class="updateButton" type="" value="">
</div>
</body>
</html>