<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- お預かり金額と所持ポイントが表示される領域 -->
	<div class="subHeader">
		<h3 class="pageHeader"></h3>
	</div>

	<!-- 会員情報エリア -->
	<form class="memberInfo" action="">
		<dl class="userInf"></dl>
	</form>

	<!-- 入力概要領域 -->
	<dt class="inputLabel"></dt>

	<!-- 入力テキストボックス領域 -->
	<dd class="inputArea">
		<!-- テキストボックス領域 -->
		<input class="textboxArea" type="" name="" value="">
	</dd>

	<!-- 入力テキストエリア領域 -->
	<dd class="inputTextArea">
		<textarea class="textArea" name=""></textarea>
	</dd>

	<!-- セレクトボックス領域 -->
	<dd class="selectboxArea">
		<select class="select" name="">
			<option class="selectOption" value=""></option>
			<option class="selectOption2" value=""></option>
		</select>
	</dd>

	<!-- ラベルとテキストボックス領域 -->
	<div class="labelTextbox">
		<!-- ラベル領域 -->
		<label class="labelArea"></label>
		<!-- テキストボックス -->
		<input class="textboxArea" type="" name="" value="">
	</div>
	<!-- 性別と生年月日の領域 -->
	<div class="subInfo">
		<label class="sexLabel"></label>
		<!-- 性別領域 -->
		<select class="user_sex" name="">
			<!-- 男性 -->
			<option class="male" value=""></opiton>
			<!-- 女性 -->
			<option class="female" value=""></opiton>
		</select>
		<!-- 「生年月日：」表示領域 -->
		<label class="birthdayLabel"></label>
		<!-- 生年月日テキストボックス -->
		<input class="birthday_date" type="" name="" value="">
	</div>

	<!-- 住所領域 -->
	<div class="addressArea">
		<!-- 郵便番号ラベル領域 -->
		<label class="zip_codeLabel"></label>
		<input class="zip_code" type="" name="" value="">
		<!-- 「住所:」ラベル -->
		<label class="addressLabel"></label>
		<!-- 内容のテキストエリア -->
		<textarea class="address" name="address"></textarea>
	</div>

	<!-- メルマガラジオボタン領域 -->
	<dd class="mailMagaSetting">
		<!-- 「受信する」ラベル -->
		<label class="acceptLabel">
			<!-- 「受信する」ラジオボタン -->
			<input class="acceptRadio" type="" name="" value="">
			<!-- 「受信する」テキスト -->
			<span class="acceptLabelText"></span>
		</label>
		<!-- 「受信しない」ラベル -->
		<label class="denyLabel">
			<!-- 「受信しない」ラジオボタン -->
			<input class="denyRadio" type="" name="" value="">
			<!-- 「受信しない」テキスト -->
			<span class="denyLabelText"></span>
		</label>
	</dd>

	<!-- パスワード変更リンク-->
	<p class="passLinkArea">
		<!-- リンク領域 -->
		<a href="" class="passLink"></a>
	</p>

	<!-- 更新ボタンエリア -->
	<input class="updateButton" type="" name="" value="">
</div>
</body>
</html>