<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- 会員サイトヘッダー領域 -->
	<div class="memberHeader">
		<!-- 会員番号と会員名、所持ポイントを表示する領域 -->
		<div class="memberStatus">
			<!-- トップページロゴ領域 -->
			<span class="topLogoArea">
				<!-- トップページリンク領域 -->
				<a class="topLink" href="">
					<!-- トップページ画像領域 -->
					<img class="topLogoImage" src="">
				</a>
			</span>
			<span class="memberNumber">
				<span class="noArea"></span>
				<span class="numberArea"></span>
			</span>
			<!-- 会員名 -->
			<span class="memberName">
				<!-- 名前表示領域 -->
				<span class="user_name"></span>
				<!-- 敬称「様」表示領域 -->
				<span class="nameTitleArea"></span>
			</span>
			<!-- 所持ポイント -->
			<span class="memberPoint">
				<!-- ポイント数字表示領域 -->
				<span class="get_point"></span>
				<!-- pt表示領域 -->
				<span class="ptArea"></span>
			</span>
			<!-- ログアウト領域 -->
			<span class="logoutArea">
				<!-- ログアウトリンクエリア -->
				<a class="logoutLink" href="">
					<img class="logoutImage" src="">
				</a>
			</span>
		</div>
	</div>

	<!-- バナー領域 -->
	<div class="userBanner">
		<!-- バナーエリア -->
		<div class="bannerArea">
			<!-- マイページバナー領域 -->
			<a class="banner1" href="">
				<!-- バナーの画像 -->
				<img class="bannerImage" src="">
			</a>
			<!-- マイプロフィールバナー領域 -->
			<a class="banner2" href="">
				<!-- バナーの画像 -->
				<img class="bannerImage" src="">
			</a>
			<!-- 目安箱バナー領域 -->
			<a class="banner3" href="">
				<!-- バナーの画像 -->
				<img class="bannerImage" src="">
			</a>
			<!-- ギャラリーバナー領域 -->
			<a class="banner4" href="">
				<!-- バナーの画像 -->
				<img class="bannerImage" src="">
			</a>
			<!-- ブログバナー領域 -->
			<a class="banner5" href="">
				<!-- バナーの画像 -->
				<img class="bannerImage" src="">
			</a>
			<!-- マイギャラリーバナー領域 -->
			<a class="banner6" href="">
				<!-- バナーの画像 -->
				<img class="bannerImage" src="">
			</a>
			<!-- マイブログバナー領域 -->
			<a class="banner7" href="">
				<!-- バナーの画像 -->
				<img class="bannerImage" src="">
			</a>
		</div>
	</div>

	<!-- tagDialog用のテーブル -->
	<table class="tagTable">
		<tr>
			<td></td>
		</tr>
	</table>

	<!-- 間に挿入するform -->
	<form class="insertForm"></form>

	<!-- 店舗名セレクトボックス領域 -->
	<div class="schoolNameSelectArea">
		<!-- セレクトボックスラベル領域 -->
		<span class="selectboxLabel"></span>
		<!-- セレクトボックス領域 -->
		<select class="schoolNameSelect" name="">
			<option class="schoolNameOption1" value=""></option>
			<option class="schoolNameOption2" value=""></option>
		</select>
	</div>

	<!-- 目安箱種別ボックス -->
	<div class="suggestionTypeSelectArea">
		<!-- セレクトボックスラベル領域 -->
		<span class="selectboxLabel"></span>
		<!-- セレクトボックス領域 -->
		<select class="suggestionTypeSelect" name="">
			<option class="suggestionTypeOption1" value=""></option>
			<option class="suggestionTypeOption2" value=""></option>
			<option class="suggestionTypeOption3" value=""></option>
		</select>
	</div>

	<!-- ラベルテキストボックス領域 -->
	<label class="labelTextboxArea">
		<!-- ラベル領域 -->
		<span class="labelArea"></span>
		<!-- テキストボックス領域 -->
		<input class="labelTextbox" type="" name="">
	</label>

	<!-- テキストエリア -->
	<label class="textareaLabel">
		<!-- ラべル領域 -->
		<span class="textareaText"></span>
		<!-- テキストエリア領域 -->
		<textarea class="textarea" name=""></textarea>
	</label>

	<!-- ラジオボタン領域 -->
	<div class="radioArea">
		<!-- 1つ目のラジオボタン領域 -->
		<label class="radioLabel1">
			<!-- ラジオボタン領域 -->
			<input class="radioButton" type="" name="" value="" checked>
			<!-- ラベル領域 -->
			<span class="radioText"></span>
		</label>
		<!-- 2つ目のラジオボタン領域 -->
		<label class="radioLabel2">
			<!-- ラジオボタン領域 -->
			<input class="radioButton" type="" name="" value="">
			<!-- ラベル領域 -->
			<span class="radioText"></span>
		</label>
	</div>

	<!-- ボタン領域 -->
	<div class="buttonArea">
	</div>

</div>
</body>
</html>