<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- 会員サイトヘッダー領域 -->
	<div class="memberHeader">
		<!-- 会員番号と会員名、所持ポイントを表示する領域 -->
		<div class="memberStatus">
			<!-- トップページロゴ領域 -->
			<span class="topLogoArea">
				<!-- トップページリンク領域 -->
				<a class="topLink" href="">
					<!-- トップページ画像領域 -->
					<img class="topLogoImage" src="">
				</a>
			</span>
			<!-- 会員名 -->
			<span class="memberName">
				<!-- 名前表示領域 -->
				<span class="user_name"></span>
				<!-- 敬称「様」表示領域 -->
				<span class="nameTitleArea"></span>
			</span>
			<!-- 所持ポイント -->
			<span class="memberPoint">
				<!-- ポイント数字表示領域 -->
				<span class="get_point"></span>
				<!-- pt表示領域 -->
				<span class="ptArea"></span>
			</span>
			<!-- ログアウト領域 -->
			<span class="logoutArea">
				<!-- ログアウトリンクエリア -->
				<a class="logoutLink" href="">
					<img class="logoutImage" src="">
				</a>
			</span>
		</div>
	</div>

	<!-- トップページにリンクする領域 -->
	<div class="topLinkArea">
		<!-- クリックするとトップページにリンクを飛ばす領域 -->
		<a href="" class="topLink"></a>
	</div>

</div>
</body>
</html>