<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>
	<!-- 授業状況のテーブルを作る -->
	<table class="lessonTable">
		<tr>
			<td></td>
		</tr>
	</table>

	<!-- 情報領域 -->
	<div class="userBanner">
		<!-- バナーエリア -->
		<div class="bannerArea">
			<!-- バナーの外枠 -->
			<a class="banner" href="">
				<!-- バナーの画像 -->
				<img class="bannerImage" title="" src="" value="">
			</a>
		</div>
		<!-- 告知領域 -->
		<div class="advertise">
			<a class="advertiseLink" href="">
				<img class="advertiseImage" src="" title="">
			</a>
	        <p class="message_title"></p>
	        <p class="message_content"></p>
	    </div>
	</div>
	
	<!-- タブコンテント -->
	<div class="lessonTab" id="">
		<!-- タブを囲む領域 -->
		<ul class="tabs">
			<!-- 個々のタブ領域 -->
			<li class="tab">
				<!-- タブのクリックする領域 -->
				<a class="tabLink" href=""></a>
			</li>
		</ul>
		<!-- タブのコンテンツを囲む領域 -->
		<div class="tabContentArea"></div>
	</div>

	<!-- タブ内のコンテンツ -->
	<div class="tabInContent" id="">
		<!-- テーマを絞り込むための領域 -->
		<div class="selectTheme">
			<!-- テーマと表示する領域 -->
			<p class="themeText"></p>
			<!-- テーマを選択するセレクトボックス -->
			<select class="selectThemebox">
				<!-- テーマのセレクトボックスの値 -->
				<option class="themeValue" value=""></opiton>
			</select>
			<!-- 絞り込みボタン -->
			<button class="selectThemeButton"></button>
		</div>
	</div>

	<!-- レッスン詳細領域 -->
	<div class="lessonDetailArea"></div>

	<!-- 予約済テーブル -->
	<table class="reservedLessonTable">
		<tr>
			<td></td>
		</tr>
	</table>

	<!-- 受講済テーブル -->
	<table class="finishedLessonTable">
		<tr>
			<td></td>
		</tr>
	</table>

	<!-- 注釈領域 -->
	<p class="annotion"></p>

	<!-- 予約確認ダイアログ領域 -->
	<!-- 授業予約確認ダイアログの外側 -->
	<div class="memberReservedConfirmDialog">
	</div>

	<!-- 授業予約確認ダイアログの内側 -->
	<span class="memberReservedConfirmDialogContent">
		<!--授業内容確認 -->
		<ul class="lessonConfirm">
			<!-- 1行目、授業情報領域 -->
			<li class="lessonInfo">
				<!-- 授業時間 -->
				<span class="start_time"></span>
				<!-- 店舗名 -->
				<span class="school_name"></span>
				<!-- コース名 -->
				<span class="lesson_name">
				<!-- 料金 -->
				<span class="user_classwork_cost"></span>
				<!-- 料金「円」単位 -->
				<span class="priceUnit"></span>
			</li>
			<!-- 2行目、授業ステージ -->
			<li class="lessonStage">
				<!-- ステージラベル -->
				<span class="stageLabel"></span>
				<!-- ステージ値 -->
				<span class="stageValue"></span>
				<!-- レベルラベル -->
				<span class="levelLabel"></span>
				<!-- レベル値 -->
				<span class="levelValue"></span>
			</li>
		</ul>

		<!-- キャンセル料率と加算ポイントの注意事項領域 -->
		<ul class="attention">
			<!-- キャンセル料率ラベル領域 -->
			<li class="cancelRateLabel">
				<!-- キャンセル料率のラベル -->
				<span class="cancelRateLabelText"></span>
			</li>
			<!-- キャンセル料率の値領域 -->
			<li class="cancelRateValue">
				<!-- 最初の行の領域 -->
				<span class="cancelFirstRecord">
					<!-- 「日付の値」領域 -->
					<span class="cancel_days"></span>
					<!-- 「日前:」領域 -->
					<span class="canselText"></span>
					<!-- 「キャンセル率の値」領域 -->
					<span class="cancel_rate"></span>
					<!-- 「%」領域 -->
					<span class="canselUnit"></span>
				</span>
				<!-- 2行目の行の領域 -->
				<span class="cancelSecondRecord">
					<!-- 「日付の値」領域 -->
					<span class="cancel_days"></span>
					<!-- 「日前:」領域 -->
					<span class="canselText"></span>
					<!-- 「キャンセル率の値」領域 -->
					<span class="cancel_rate"></span>
					<!-- 「%」領域 -->
					<span class="canselUnit"></span>
				</span>
				<!-- 2行目の行の領域 -->
				<span class="cancelThirdRecord">
					<!-- 「日付の値」領域 -->
					<span class="cancel_days"></span>
					<!-- 「日前:」領域 -->
					<span class="canselText"></span>
					<!-- 「キャンセル率の値」領域 -->
					<span class="cancel_rate"></span>
					<!-- 「%」領域 -->
					<span class="canselUnit"></span>
				</span>
			</li>
			<!-- 加算ポイントラベル領域 -->
			<li class="addPointLabel">
				<!-- 加算ポイントのラベル -->
				<span class="addPointLabelText"></span>
			</li>
			<!-- 加算ポイントの値領域1行目 -->
			<li class="addPointValue">
				<!-- dbの１行目の領域 -->
				<span class="addPointFirstRecord">
					<!-- 「生徒の数」の値領域 -->
					<span class="students"></span>
					<!-- 「人:」領域 -->
					<span class="studentsUnit"></span>
					<!-- 「ポイント数」の値領域 -->
					<span class="point_rate"></span>
					<!-- 「pt」領域 -->
					<span class="pointUnit"></span>
				</span>
				<!-- dbの2行目の領域 -->
				<span class="addPointSecondRecord">
					<!-- 「生徒の数」の値領域 -->
					<span class="students"></span>
					<!-- 「人:」領域 -->
					<span class="studentsUnit"></span>
					<!-- 「ポイント数」の値領域 -->
					<span class="point_rate"></span>
					<!-- 「pt」領域 -->
					<span class="pointUnit"></span>
				</span>
				<!-- dbの3行目の領域 -->
				<span class="addPointThirdRecord">
					<!-- 「生徒の数」の値領域 -->
					<span class="students"></span>
					<!-- 「人:」領域 -->
					<span class="studentsUnit"></span>
					<!-- 「ポイント数」の値領域 -->
					<span class="point_rate"></span>
					<!-- 「pt」領域 -->
					<span class="pointUnit"></span>
				</span>
				<!-- dbの4行目の領域 -->
				<span class="addPointFourthRecord">
					<!-- 「生徒の数」の値領域 -->
					<span class="students"></span>
					<!-- 「人:」領域 -->
					<span class="studentsUnit"></span>
					<!-- 「ポイント数」の値領域 -->
					<span class="point_rate"></span>
					<!-- 「pt」領域 -->
					<span class="pointUnit"></span>
				</span>
			</li>
		</ul>
		<!-- 確認テキスト「上記の授業を予約しますか？」領域 -->
		<p class="confirmText"></p>
	</span>

	<!-- 予約確認ダイアログ領域 終わり -->

</div>
</body>
</html>