<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- 会員サイトヘッダー領域 -->
	<div class="memberHeader">
		<!-- 会員番号と会員名、所持ポイントを表示する領域 -->
		<div class="memberStatus">
			<!-- 会員番号 -->
			<span class="memberNumber">
				<!-- No.表示領域 -->
				<span class="noArea"></span>
				<!-- 番号表示領域 -->
				<span class="numberArea"></span>
			</span>
			<!-- 所持ポイント -->
			<span class="memberPoint">
				<!-- ポイント数字表示領域 -->
				<span class="pointNumberArea"></span>
				<!-- pt表示領域 -->
				<span class="ptArea"></span>
			</span>
			<!-- 会員名 -->
			<span class="memberName">
				<!-- 名前表示領域 -->
				<span class="nameArea"></span>
				<!-- 敬称「様」表示領域 -->
				<span class="nameTitleArea"></span>
			</span>
		</div>
		<!-- ヘッダーメニュー領域 -->
		<ul class="memberMenu">
			<!-- メニューを囲む領域 -->
			<li class="memberMenuList">
				<!-- クリックするとhref先のリンクに遷移する領域 -->
				<a class="memberMenuLink" href=""></a>
			</li>
		</ul>
	</div>

	<!-- トップページにリンクする領域 -->
	<div class="topLinkArea">
		<!-- クリックするとトップページにリンクを飛ばす領域 -->
		<a href="" class="topLink"></a>
	</div>
	
	<!-- tagDialog用のテーブル -->
	<table class="tagTable">
		<tr>
			<td></td>
		</tr>
	</table>


</div>
</body>
</html>