<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<div class="passArea">
		<!-- 画面見出し -->
		<h3 class="pageHeader"></h3>
		<!-- パスワード更新データを送信するためのフォーム -->
		<div class="postPass">
			<!-- 新しいパスワードのラベル -->
			<label class="newPassArea">
				<!-- パスワードのラベル -->
				<span class="passLabel"></span>
				<!-- 新しいパスワード入力フォーム -->
				<input class="passTextbox" type="" name="">
			</label>
			<!-- パスワード確認のラベル -->
			<label class="confirmArea">
				<!-- パスワードのラベル -->
				<span class="passLabel"></span>
				<!-- パスワード確認のテキストボックス -->
				<input class="passTextbox" type="" name="">
			</label>
		</div>
	</div>

</div>
</body>
</html>