<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>
	<!-- 授業状況のテーブルを作る -->
	<table class="lessonTable">
		<tr>
			<td></td>
		</tr>
	</table>

	<!-- 情報領域 -->
	<div class="userBanner">
		<!-- バナーエリア -->
		<div class="bannerArea">
			<!-- バナーの外枠 -->
			<a class="banner" href="">
				<!-- バナーの画像 -->
				<img class="bannerImage" title="" src="" value="">
			</a>
		</div>
		<!-- 告知領域 -->
		<div class="advertise">
			<a class="advertiseLink" href="">
				<img class="advertiseImage" src="" title="">
                
			</a>
            <p class="message_title"></p>
            <p class="message_content"></p>
		</div>
	</div>

	<!-- タブコンテント -->
	<div class="lessonTab" id="">
		<!-- タブを囲む領域 -->
		<ul class="tabs">
			<!-- 個々のタブ領域 -->
			<li class="tab">
				<!-- タブのクリックする領域 -->
				<a class="tabLink" href=""></a>
			</li>
		</ul>
		<!-- タブのコンテンツを囲む領域 -->
		<div class="tabContentArea"></div>
	</div>

	<!-- タブ内のコンテンツ -->
	<div class="tabInContent" id="">
		<!-- テーマを絞り込むための領域 -->
		<div class="selectTheme">
			<!-- テーマと表示する領域 -->
			<p class="themeText"></p>
			<!-- テーマを選択するセレクトボックス -->
			<select class="selectThemebox">
				<!-- テーマのセレクトボックスの値 -->
				<option class="themeValue" value=""></opiton>
			</select>
			<!-- 絞り込みボタン -->
			<button class="selectThemeButton"></button>
		</div>
	</div>

	<!-- レッスン詳細領域 -->
	<div class="lessonDetailArea"></div>

	<!-- 予約済テーブル -->
	<table class="reservedLessonTable">
		<tr>
			<td></td>
		</tr>
	</table>

	<!-- 受講済テーブル -->
	<table class="finishedLessonTable">
		<tr>
			<td></td>
		</tr>
	</table>

	<!-- 注釈領域 -->
	<p class="annotion"></p>

	<!-- 予約確認ダイアログ領域 -->
	<!-- 授業予約確認ダイアログの外側 -->
	<div class="memberReservedConfirmDialog">
	</div>

	<!-- 授業予約確認ダイアログの内側 -->
	<span class="memberReservedConfirmDialogContent">
		<!--授業内容確認 -->
		<ul class="lessonConfirm">
			<!-- 1行目、授業情報領域 -->
			<li class="lessonInfo">
				<!-- 授業時間 -->
				<span class="timeSchedule"></span>
				<!-- 店舗名 -->
				<span class="store"></span>
				<!-- コース名 -->
				<span class="course"></span>
				<!-- 料金 -->
				<span class="price"></span>
			</li>
			<!-- 2行目、授業ステージ -->
			<li class="lessonStage">
				<!-- ステージラベル -->
				<span class="stageLabel"></span>
				<!-- ステージ値 -->
				<span class="stageValue"></span>
				<!-- レベルラベル -->
				<span class="levelLabel"></span>
				<!-- レベル値 -->
				<span class="levelValue"></span>
			</li>
		</ul>

		<!-- キャンセル料率と加算ポイントの注意事項領域 -->
		<ul class="attention">
			<!-- キャンセル料率ラベル領域 -->
			<li class="cancelRateLabel">
				<!-- キャンセル料率のラベル -->
				<span class="cancelRateLabelText"></span>
			</li>
			<!-- キャンセル料率の値領域 -->
			<li class="cancelRateValue">
				<!-- 「当日:」領域 -->
				<span class="thatDayLabel"></span>
				<!-- 当日の値 -->
				<span class="thatDayValue"></span>
				<!-- 当日の値、単位「%」 -->
				<span class="thatDayUnit"></span>
				<!-- 「1日前:」領域 -->
				<span class="oneBeforeDayLabel"></span>
				<!-- 1日前の値 -->
				<span class="oneBeforeDayValue"></span>
				<!-- 1日前の値、単位「%」 -->
				<span class="oneBeforeDayUnit"></span>
				<!-- 「2日前:」領域 -->
				<span class="twoBeforeDayLabel"></span>
				<!-- 2日前の値 -->
				<span class="twoBeforeDayValue"></span>
				<!-- 2日前、単位「%」 -->
				<span class="twoBeforeDayUnit"></span>
			</li>
			<!-- 加算ポイントラベル領域 -->
			<li class="addPointLabel">
				<!-- 加算ポイントのラベル -->
				<span class="addPointLabelText"></span>
			</li>
			<!-- 加算ポイントの値領域1行目 -->
			<li class="addPointValueFirst">
				<!-- 「1人:」領域 -->
				<span class="onePersonLabel"></span>
				<!-- 1人の値 -->
				<span class="onePersonValue"></span>
				<!-- 1人、単位「pt」 -->
				<span class="onePersonUnit"></span>
				<!-- 「2人~3人:」領域 -->
				<span class="twoPeopleLabel"></span>
				<!-- 2人~3人の値 -->
				<span class="twoPeopleDayValue"></span>
				<!-- 2人~3人、単位「pt」 -->
				<span class="twoPeopleDayUnit"></span>
			</li>
			<!-- 加算ポイントの値領域2行目 -->
			<li class="addPointValueSecond">
				<!-- 「4人~7人:」領域 -->
				<span class="fourPersonLabel"></span>
				<!-- 4人~7人の値 -->
				<span class="fourPersonValue"></span>
				<!-- 4人~7人、単位「pt」 -->
				<span class="fourPersonUnit"></span>
				<!-- 「8人:」領域 -->
				<span class="eightPeopleLabel"></span>
				<!-- 8人の値 -->
				<span class="eightPeopleDayValue"></span>
				<!-- 8人、単位「pt」 -->
				<span class="eightPeopleDayUnit"></span>
			</li>
		</ul>

		<!-- 確認テキスト「上記の授業を予約しますか？」領域 -->
		<p class="confirmText"></p>
	</span>

	<!-- 予約確認ダイアログ領域 終わり -->

	<!-- レッスン情報取得用のダミーHTML -->
	<div class="lessonInfo">
		<var class="lessonCancelRate">
			<var class="lessonKey~0">
				<var class="lesson_key"></var>
			</var>
			<var class="lessonKey~1">
				<var class="lesson_key"></var>
			</var>
			<var class="lessonKey~2">
				<var class="lesson_key"></var>
			</var>
		</var>
		<var class="lesonPointRate">
		<var class="lessonPointRate~">
			<var class="point_rate"></var>
			<var class="point_rate"></var>
		</var>
		</var>
	</div>
</div>
</body>
</html>