<!-- マイページのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<!-- マイページの予約情報一覧 -->
	<div class="reservedData">
		<div class="reservedDate"></div>
		<div class="reservedCourse"></div>
		<div class="reservedPeriod"></div>
		<div class="reservedRemark"></div>
	</div>
	
	<!-- マイページの予約一覧の領域 -->
	<div class="myPageReserved">
		<!-- マイページの予約一覧の領域のタイトル -->
		<div class="myPageReservedTitle"></div>
		<!-- 予約一覧。 -->
		<div class="myPageReservedList"></div>
		<!-- カレンダー。 -->
		<div class="myPageReservedCalendar" name=""></div>
	</div>	
	<!-- マイページの予約一覧の領域　終わり -->
	
	<!-- マイページのブログの領域 -->
	<form class="myPageBlog" action="" method="" data-role="">
	</form>
	
	<!-- マイページのブログの領域のタイトル -->
	<div class="myPageBlogTitle"></div>
	
	<!-- ブログ関連のボタン。 -->
	<div class="myPageBlogButtons">
		<input type="" class="myPageBlogButtonHidden" value="" name="">
	</div>
	
	<!-- マイページのMyギャラリーの領域 -->
	<div class="myPageMyGallery">
	</div>
	
	<!-- マイページのMyギャラリー領域のタイトル -->
	<div class="myPageMyGalleryTitle"></div>
	
	<!-- Myギャラリー関連のボタン。 -->
	<div class="myPageMyGalleryButtons">
		<a type="" class="myPageMyGalleryButton1" href="" ></a>
	</div>
	
	<!-- マイページの設定の領域 -->
	<div class="myPageOption">
	</div>
	
	<!-- マイページの設定領域のタイトル -->
	<div class="myPageOptionTitle"></div>
	
	<!-- 設定関連のボタン。 -->
	<div class="myPageOptionButtons">
		<a type="" class="myPageOptionButton1" href="" ></a>
	</div>
	<!-- マイページのブログの領域 おわり -->
	
	<!-- 個人設定ページ。 -->
	<div class="myOption"></div>
	
	<!-- 変更確定ボタン -->
	<div class="myOptionButtons">
		<button class="myOptionBackButton" type="" ></button>
		<button class="myOptionConfirmChangeButton" type="" ></button>
	</div>
	<!-- テキストボックス。 -->
	<div class="myOptionText">
		<!-- ラベル -->
		<span class="myOptionLabel"></span>
		<!-- 設定テキストボックス -->
		<input class="myOptionTextbox" type="" name="" value="" onkeyDown="" style="" autocomplete="">
	</div>
	
	<!-- 確認欄付きのテキストボックス。 -->
	<div class="myOptionTextConfirm">
		<!-- ラベル -->
		<span class="myOptionLabelOld"></span>
		<!-- 古い設定値の設定テキストボックス -->
		<input class="myOptionTextboxOld" type="" name="" value="" onkeyDown="" style="" placeholder="">
		<!-- ラベル -->
		<span class="myOptionLabelNew"></span>
		<!-- 新しい設定テキストボックス -->
		<input class="myOptionTextboxNew" type="" name="" value=""  onkeyDown="" style="" placeholder="">
		<!-- ラベル -->
		<span class="myOptionLabelConfirm"></span>
		<!-- 新しい設定の確認テキストボックス -->
		<input class="myOptionTextboxConfirm" type="" name="" value="" onkeyDown="" style="" style="" oncopy="" onpaste="" oncontextmenu="" onkeyDown="" placeholder="">
	</div>
	
	<!-- ラジオボタン -->
	<div class="myOptionRadio">
		<!-- ラベル -->
		<span class="myOptionLabel"></span>
		<!-- ラジオボタンその1 -->
		<input class="myOptionRadio1" type="" name="" value="">
		<!-- 横並びのラベル -->
		<span class="myOptionLabelInline1"></span>
		<!-- ラジオボタンその2。 -->
		<input class="myOptionRadio2" type="" name="" value="">
		<!-- 横並びのラベル -->
		<span class="myOptionLabelInline2"></span>
		<!-- ラジオボタンその3。 -->
		<input class="myOptionRadio3" type="" name="" value="" style="">
		<!-- 横並びのラベル -->
		<span class="myOptionLabelInline3" style=""></span>
	</div>
	
	<!-- チェックボックス -->
	<div class="myOptionCheckbox">
		<!-- ラベル -->
		<span class="myOptionLabel"></span>
		<!-- チェックボックスその1。 -->
		<input class="myOptionCheck1" type="" name="" value="">
		<!-- 横並びのラベル -->
		<span class="myOptionLabelInline1"></span>
		<!-- チェックボックスその2。 -->
		<input class="myOptionCheck2" type="" name="" value="">
		<!-- 横並びのラベル -->
		<span class="myOptionLabelInline2"></span>
		<!-- チェックボックスその3。 -->
		<input class="myOptionCheck3" type="" name="" value="" style="">
		<!-- 横並びのラベル -->
		<span class="myOptionLabelInline3" style=""></span>
		<!-- チェックボックスその4。 -->
		<input class="myOptionCheck4" type="" name="" value="" style="">
		<!-- 横並びのラベル -->
		<span class="myOptionLabelInline3" style=""></span>
		<!-- チェックボックスその5。 -->
		<input class="myOptionCheck5" type="" name="" value="" style="">
		<!-- 横並びのラベル -->
		<span class="myOptionLabelInline5" style=""></span>
	</div>

	<!-- マイブログ記事の領域 -->
	<div class="blogArticles"></div>
	<!-- マイブログ記事全体の領域(ナンバリングも格納する) -->
	<div class="blogArticleArea"></div>

	<!-- マイブログ一覧全体の領域(ナンバリングも格納する) -->
	<div class="myBlogListArea"></div>
	<!-- マイブログ一覧 -->
	<div class="myBlogList"></div>
	<!-- マイブログ一覧テーブル -->
	<table class="myBlogListTable">
		<tr>
			<td></td>
		</tr>
	</table>

</div>
</body>
</html>