<!-- 予約機能関連のパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

		<!-- 日時のinputタグ。 -->
		<input type="" class="reservedDate" name="">
	
		<!-- 注意書き -->
		<p class="reservedSummary"></p>
	
		<!-- 作品選択 -->
		<table class="radioButtonSpecialConstruct">
			<!-- 作品1行目 -->
			<tr class="constructFirstRow" width="">
				<!-- 作品 -->
		 		<th class="dialogContentHead"></th>
		 		<!-- プリザ1 -->
				<td class="preserved1">
					<!-- ボタンを包むラベル -->
					<label class="buttonTopLabel">
			 			<!-- ボタン -->
						<input class="buttonTop" type="" name="" value="">
						<!-- ラベルテキスト -->
						<span class="buttonTopText"></span>
					</label>
				</td>
				<!-- プリザ2 -->
				<td class="preserved2">
					<!-- ボタンを包むラベル -->
					<label class="buttonTopLabel">
			 			<!-- ボタン -->
						<input class="buttonTop" type="" name="" value="">
						<!-- ラベルテキスト -->
						<span class="buttonTopText"></span>
					</label>
				</td>
			</tr>
			<!-- 作品2行目 -->
			<tr class="constructSecondRow">
				<!-- 空白行 -->
				<td class="blank"></td>
				<!-- 生花1 -->
				<td class="fresh1">
					<!-- ボタンを包むラベル -->
					<label class="buttonTopLabel">
			 			<!-- ボタン -->
						<input class="buttonTop" type="" name="" value="">
						<!-- ラベルテキスト -->
						<span class="buttonTopText"></span>
					</label>
				</td>
				<!-- 生花2 -->
				<td class="fresh2">
					<!-- ボタンを包むラベル -->
					<label class="buttonTopLabel">
			 			<!-- ボタン -->
						<input class="buttonTop" type="" name="" value="">
						<!-- ラベルテキスト -->
						<span class="buttonTopText"></span>
					</label>
				</td>
			</tr>
		</table>
	
		<!-- 作品選択 -->
		<table class="radioButtonUsuallyCourse">
			<!-- 作品1行目 -->
			<tr class="constructFirstRow" width="">
				<!-- 作品 -->
		 		<th class="dialogContentHead"></th>
		 		<!-- プリザ -->
				<td class="preserved">
					<!-- ボタンを包むラベル -->
					<label class="buttonTopLabel">
			 			<!-- ボタン -->
						<input class="buttonTop" type="" name="" value="">
						<!-- ラベルテキスト -->
						<span class="buttonTopText"></span>
					</label>
				</td>
				<!-- 生花 -->
				<td class="fresh">
					<!-- ボタンを包むラベル -->
					<label class="buttonTopLabel">
			 			<!-- ボタン -->
						<input class="buttonTop" type="" name="" value="">
						<!-- ラベルテキスト -->
						<span class="buttonTopText"></span>
					</label>
				</td>
			</tr>
			<!-- 作品2行目 -->
			<tr class="constructSecondRow">
				<!-- 空白行 -->
				<td class="blank"></td>
				<!-- NFD -->
				<td class="nfd">
					<!-- ボタンを包むラベル -->
					<label class="buttonTopLabel">
			 			<!-- ボタン -->
						<input class="buttonTop" type="" name="" value="">
						<!-- ラベルテキスト -->
						<span class="buttonTopText"></span>
					</label>
				</td>
			</tr>
		</table>
		
		<!-- 会員情報。氏名、氏名(カナ)、メールアドレス、電話番号。hiddenのフィールドに入れる。 -->
		<div class="memberInformation">
			<input class="personName" type="" name="">
			<input class="personNameKana" type="" name="">
			<input class="personEmail" type="" name="">
			<input class="personTel" type="" name="">
		</div>
	
		<!-- 希望時限 -->
		<table class="radioButtonSpecialSchedule">
			<!-- 時限1行目 -->
			<tr class="scheduleFirstRow">
				<!-- 時限と表示する -->
				<th class="dialogContentHead"></th>
				<!-- 11:00~ -->
				<td class="scheduleWrap">
					<!-- ボタンを包むラベル -->
					<label class="buttonTopLabel">
			 			<!-- ボタン -->
						<input class="buttonTop" type="" name="" value="">
						<!-- ラベルテキスト -->
						<span class="buttonTopText"></span>
					</label>
				</td>
			</tr>
			<!-- 時限2行目 -->
			<tr class="scheduleSecondRow">
				<th class="blank"></th>
				<!-- 14:00～ -->
				<td class="scheduleWrap">
					<!-- ボタンを包むラベル -->
					<label class="buttonTopLabel">
			 			<!-- ボタン -->
						<input class="buttonTop" type="" name="" value="">
						<!-- ラベルテキスト -->
						<span class="buttonTopText"></span>
					</label>
				</td>
			</tr>
			<!-- 時限3行目 -->
			<tr class="scheduleThirdRow">
				<th class="blank"></th>
				<!-- 16:30～ -->
				<td class="scheduleWrap">
					<!-- ボタンを包むラベル -->
					<label class="buttonTopLabel">
			 			<!-- ボタン -->
						<input class="buttonTop" type="" name="" value="">
						<!-- ラベルテキスト -->
						<span class="buttonTopText"></span>
					</label>
				</td>
			</tr>
			<!-- 時限4行目 -->
			<tr class="scheduleFourthRow">
				<th class="blank"></th>
				<!-- 19:00～ -->
				<td class="scheduleWrap">
					<!-- ボタンを包むラベル -->
					<label class="buttonTopLabel">
			 			<!-- ボタン -->
						<input class="buttonTop" type="" name="" value="">
						<!-- ラベルテキスト -->
						<span class="buttonTopText"></span>
					</label>
				</td>		
			</tr>
			<!-- 時限5行目 -->
			<tr class="scheduleFourthHalfRow">
				<th class="blank"></th>
				<!-- 19:30～ -->
				<td class="scheduleWrap">
					<!-- ボタンを包むラベル -->
					<label class="buttonTopLabel">
			 			<!-- ボタン -->
						<input class="buttonTop" type="" name="" value="">
						<!-- ラベルテキスト -->
						<span class="buttonTopText"></span>
					</label>
				</td>		
			</tr>
		</table>
	
		<!-- 予備情報リスト -->
		<ul class="subInfo">
			<!-- 1行目、予備情報テキスト -->
			<li class="dialogContentHead"></li>
			<!-- 1行目、予備情報テキスト -->
			<li class="subInfoSummary"></li>
			<!-- 2行目、可能曜日領域 -->
			<li class="canDayAll">
				<!-- 可能曜日テキスト -->
				<span class="subHeadText"></span>
				<!-- ラベル領域 -->
				<label class="allDayButton">
					<!-- 全て可チェックボックス -->
					<input class="allDayCheckbox" type="">
					<!-- チェックボックスの横に来るテキスト -->
					<span class="allCheckboxLabel"></span>
				</label>
			</li>
			<!-- 3行目、曜日ごとの領域 -->
			<li class="weekOfDay">
				<!-- 月曜チェックボックス -->
				<label class="MondayCheck">
			 		<!-- ボタン -->
					<input class="buttonBottom" type="" name="" value="">
					<!-- ラベルテキスト -->
					<span class="buttonBottomText"></span>
				</label>
				<!-- 火曜チェックボックス -->
				<label class="TuesdayCheck">
			 		<!-- ボタン -->
					<input class="buttonBottom" type="" name="" value="">
					<!-- ラベルテキスト -->
					<span class="buttonBottomText"></span>
				</label>
				<!-- 水曜チェックボックス -->
				<label class="WednesdayCheck">
			 		<!-- ボタン -->
					<input class="buttonBottom" type="" name="" value="">
					<!-- ラベルテキスト -->
					<span class="buttonBottomText"></span>
				</label>
				<!-- 木曜チェックボックス -->
				<label class="ThirsdayCheck">
			 		<!-- ボタン -->
					<input class="buttonBottom" type="" name="" value="">
					<!-- ラベルテキスト -->
					<span class="buttonBottomText"></span>
				</label>
				<!-- 金曜チェックボックス -->
				<label class="FridayCheck">
			 		<!-- ボタン -->
					<input class="buttonBottom" type="" name="" value="">
					<!-- ラベルテキスト -->
					<span class="buttonBottomText"></span>
				</label>
				<!-- 土曜チェックボックス -->
				<label class="SaturdayCheck">
			 		<!-- ボタン -->
					<input class="buttonBottom" type="" name="" value="">
					<!-- ラベルテキスト -->
					<span class="buttonBottomText"></span>
				</label>
				<!-- 日曜チェックボックス -->
				<label class="SundayCheck">
			 		<!-- ボタン -->
					<input class="buttonBottom" type="" name="" value="">
					<!-- ラベルテキスト -->
					<span class="buttonBottomText"></span>
				</label>
			</li>
			<!-- 4行目、可能週領域 -->
			<li class="canWeekAll">
				<!-- 可能曜日テキスト -->
				<span class="subHeadText"></span>
				<!-- ラベル領域 -->
				<label class="allWeekButton">
					<!-- 全て可チェックボックス -->
					<input class="allWeekCheckbox" type="">
					<!-- チェックボックスの横に来るテキスト -->
					<span class="allCheckboxLabel"></span>
				</label>
			</li>
			<!-- 5行目週の選択 -->
			<li class="monthOfWeek">
				<!-- 1週チェックボックス -->
				<label class="firstWeekCheck">
			 		<!-- ボタン -->
					<input class="buttonBottom" type="" name="" value="">
					<!-- ラベルテキスト -->
					<span class="buttonBottomText"></span>
				</label>
				<!-- 2週曜チェックボックス -->
				<label class="secondWeekCheck">
			 		<!-- ボタン -->
					<input class="buttonBottom" type="" name="" value="">
					<!-- ラベルテキスト -->
					<span class="buttonBottomText"></span>
				</label>
				<!-- 3週チェックボックス -->
				<label class="thirdWeekCheck">
			 		<!-- ボタン -->
					<input class="buttonBottom" type="" name="" value="">
					<!-- ラベルテキスト -->
					<span class="buttonBottomText"></span>
				</label>
				<!-- 4週チェックボックス -->
				<label class="fourthWeekCheck">
			 		<!-- ボタン -->
					<input class="buttonBottom" type="" name="" value="">
					<!-- ラベルテキスト -->
					<span class="buttonBottomText"></span>
				</label>
			</li>
		</ul>
	
		<!-- 4コンテンツ目個人情報 -->
		<ul class="personInformation">
			<!-- 1行目、個人情報テキスト -->
			<li class="dialogContentHead"></li>
			<!-- 2行目、氏名領域 -->
			<li class="personName">
				<!-- ラベル -->
				<label class="textboxLabel">
					<!-- ラベルテキスト -->
					<span class="personLabel"></span>
					<!-- テキストボックス -->
					<input type="text" class="personTextbox" name="" autocomplete="" size="" required align="" style="">
				</label>
			</li>
			<!-- 2行目、氏名領域 -->
			<li class="personNameKana">
				<!-- ラベル -->
				<label class="textboxLabel">
					<!-- ラベルテキスト -->
					<span class="personLabel"></span>
					<!-- テキストボックス -->
					<input type="" class="personTextbox" name="" autocomplete="" size="" required align="" style="">
				</label>
			</li>
			<!-- 3行目、電話番号領域 -->
			<li class="personPhoneNumber">
				<!-- ラベル -->
				<label class="textboxLabel">
					<!-- ラベルテキスト -->
					<span class="personLabel"></span>
					<!-- テキストボックス -->
					<input type="" class="personTextbox" name="" autocomplete="" size="" required style="" onkeyDown="">
				</label>
			</li>
			<!-- 4行目、メールアドレス領域 -->
			<li class="personEmail">
				<!-- ラベル -->
				<label class="textboxLabel">
					<!-- ラベルテキスト -->
					<span class="personLabel"></span>
					<!-- テキストボックス -->
					<input type="" class="personTextbox" name="" autocomplete="" size="" required style="" onkeyDown="">
				</label>
			</li>
			<!-- 4行目、メールアドレス再入力領域 -->
			<li class="personEmailCheck">
				<!-- ラベル -->
				<label class="textboxLabel">
					<!-- ラベルテキスト -->
					<span class="personLabel"></span>
					<!-- テキストボックス -->
					<input type="" class="personTextbox" name="" autocomplete="" size="" required style="" oncopy="" onpaste="" oncontextmenu="" onkeyDown="" placeholder="">
				</label>
			</li>
			<!-- 10行目、人数領域 -->
			<li class="personCount">
				<!-- ラベル -->
				<label class="textboxLabel">
					<!-- ラベルテキスト -->
					<span class="personLabel"></span>
					<!-- テキストボックス -->
					<input type="" class="personTextbox" name="" size="" autocomplete="" required style="" onkeyDown="" min="">
				</label>
			</li>
		</ul>
	
		<!-- 件名 -->
		<input class="mailSubject" type="" name="" value="">
</div>
</body>
</html>