<!-- テーブルのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

<!-- ブログ一覧の見出し -->
<table class="blogListHeadWrap">
<tr class="blogListHead">
	<th class="checkWrap"><input class="check" type=""></th>
	<!-- 見出し4項目 -->
	<th class="numberHead"></th>
	<th class="dateHead"></th>
	<th class="authorHead"></th>
	<th class="titleHead"></th>
	</tr>
</table>

<!-- ブログ一覧のデータ行 -->
<table class="blogListContentWrap">
<tr class="blogListContent">
	<td class="checkWrap"><input class="check" type=""></td>
	<td class="number"></td>
	<td class="date"></td>
	<td class="author"></td>
	<td class="title"></td>
</tr>
</table>

<!-- 検索パーツの外枠 -->
<form class="contentSearch" action="" method="" data-target="" data-role=""></form>

<!-- 検索領域タイトル -->
<h3 class="searchTitle"></h3>
<!-- 検索ボタンと検索フォーム追加、削除ボタンのセット -->
<div class="searchButtonSet">
	<input type="" class="executeSearch" value="">
</div>

<!-- 検索パーツ1組 -->
<span class="articleSearch">
	<!-- ラベル -->
	<span class="articleSearchLabel"></span>
	<!-- テキストボックス -->
	<input type="" class="articleSearchTextBox" name="">
</span>


<form class="managementForm" action="" method="" data-role=""></form>
<!-- 管理するコンテンツの一覧 -->
<div class="managementList">
	<!-- テーブル -->
	<table class="table">
		<!-- 見出し行。createTagで後から必要な分の見出しのタグを流し込む。 -->
		<thead></thead>
		<!-- データ部分の行をoutputKeyNumberObjectで流し込む。 -->
		<tbody></tbody>
	</table>
</div>

<!-- 管理者ブログ一覧の見出し -->
<table class="adminBlogListHeadWrap">
<tr class="adminBlogListHead">
	<th class="checkWrap"><input class="check" type=""></th>
	<!-- 見出し4項目 -->
	<th class="numberHead"></th>
	<th class="dateHead"></th>
	<th class="authorHead"></th>
	<th class="titleHead"></th>
	</tr>
</table>
<!-- 管理者ブログ一覧のデータ行 -->
<table class="adminBlogListContentWrap">
<tr class="adminBlogListContent">
	<td class="checkWrap"><input class="check" type=""></td>
	<td class="number"></td>
	<td class="date"></td>
	<td class="author"></td>
	<td class="title"></td>
</tr>
</table>

<!-- キャンペーン一覧の見出し -->
<table class="campaignListHeadWrap">
<tr class="campaignListHead">
	<th class="checkWrap"><input class="check" type=""></th>
	<!-- 見出し4項目 -->
	<th class="numberHead"></th>
	<th class="titleHead"></th>
	<th class="typeHead"></th>
	<th class="priceHead"></th>
	<th class="maxEntryHead"></th>
	<th class="startDateHead"></th>
	<th class="endDateHead"></th>
</tr>
</table>
<!-- キャンペーン一覧のデータ行 -->
<table class="campaignListContentWrap">
<tr class="campaignListContent">
	<td class="checkWrap"><input class="check" type=""></td>
	<td class="number"></td>
	<td class="title"></td>
	<td class="type"></td>
	<td class="price"></td>
	<td class="maxEntry"></td>
	<td class="startDate"></td>
	<td class="endDate"></td>
</tr>

</table>
<!-- 生徒さん一覧の見出し -->
<table class="studentListHeadWrap">
<tr class="studentListHead">
	<th class="checkWrap"><input class="check" type=""></th>
	<!-- 見出し4項目 -->
	<th class="memberIdHead"></th>
	<th class="nameHead"></th>
	<th class="emailHead"></th>
	<th class="telHead"></th>
</tr>
</table>

<!-- 生徒さん一覧のデータ行 -->
<table class="studentListContentWrap">
<tr class="studentListContent">
	<td class="checkWrap"><input class="check" type=""></td>
	<td class="memberId"></td>
	<td class="name"></td>
	<td class="email"></td>
	<td class="tel"></td>
</tr>
</table>
<!-- 編集ボタン群 -->
<div class="listEditButtons">
	<!-- 新規作成ボタン。 -->
	<input class="createNew" type="" value=""  data-role="">
	<!-- 編集ボタン。 -->
	<input class="edit" type="" value=""  data-role="">
	<!-- 削除ボタン。 -->
	<button class="delete" type=""></button>
	<!-- 隠しフォーム。 -->
	<input class="hidden" type="" value="" name="">
</div>

	<!-- Myブログ記事用。createTagTable用の最低限のタグ構成 -->
	<table class="myBlogTable">
		<tr class="cf">
			<td></td>
		</tr>
	</table>

	<!-- ブログ記事用。createTagTable用の最低限のタグ構成 -->
	<table class="blogTable">
		<tr class="cf">
			<td></td>
		</tr>
	</table>

</div>
</body>
</html>