<!-- トップページのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

<!-- トップページトピック -->
	<!-- トップページで最新の記事見出しを表示する小ウィンドウ。 -->
	<div class="topic">
		<!-- トピックのタイトル部分。 -->
		<div class="topicTitle"></div>
		<!-- トピックのタイトル部分の「New」の文字。 -->
		<div class="topicTitleDeco"></div>
		<!-- コンテンツとの間に線を引く -->
		<hr class="topicBorder" />
		<!-- トピックの最新記事見出しの一覧を表示する領域。 -->
		<a class="topicContent1" href="">
			<!-- トピックの最新記事の画像 -->
			<span class="topicContentImage" style="cursor:pointer;"></span>
			<!-- トピックの最新記事の日付 -->
			<time class="topicContentDate"></time>
			<!-- トピックの最新記事のユーザ名 -->
			<p class="topicContentUserName"></p>
			<!-- トピックの最新記事のタイトル -->
			<p class="topicContentTitle"></p>
		</a>
		<a class="topicContent2" href="">
			<!-- トピックの最新記事の画像 -->
			<span class="topicContentImage" style="cursor:pointer;"></span>
			<!-- トピックの最新記事の日付 -->
			<time class="topicContentDate"></time>
			<!-- トピックの最新記事のユーザ名 -->
			<p class="topicContentUserName"></p>
			<!-- トピックの最新記事のタイトル -->
			<p class="topicContentTitle"></p>
		</a>
		<a class="topicContent3" href="">
			<!-- トピックの最新記事の画像 -->
			<span class="topicContentImage" style="cursor:pointer;"></span>
			<!-- トピックの最新記事の日付 -->
			<time class="topicContentDate"></time>
			<!-- トピックの最新記事のユーザ名 -->
			<p class="topicContentUserName"></p>
			<!-- トピックの最新記事のタイトル -->
			<p class="topicContentTitle"></p>
		</a>
	</div>
	
	<!-- 各お知らせを表示するボタン -->
	<div class="topicShow">
		<p class="topicShow1line"></p>
		<p class="topicShow2line"></p>
	</div>
<!-- トップページトピック 終わり-->

</div>
</body>
</html>