<html>
	<!-- テストダイアログ用テンプレート -->
	<body>
		<div>


			<!-- 授業データ入力領域 -->
			<ul class="newLessonData">
				<!-- テーマ領域 -->
				<li class="themeArea">
					<!-- テーマラベル領域 -->
					<label class="themeLabelText"></label>
					<!-- テーマ表示位領域 -->
					<select class="lessonThemeSelect" name="">
						<!-- セレクトボックスに入るテキスト -->
						<option class="lessonThemeSelectList1" value=""></option>
						<option class="lessonThemeSelectList2" value=""></option>
						<option class="lessonThemeSelectList3" value=""></option>
						<option class="lessonThemeSelectList4" value=""></option>
						<option class="lessonThemeSelectList5" value=""></option>
						<option class="lessonThemeSelectList6" value=""></option>
						<option class="lessonThemeSelectList7" value=""></option>
					</select>
				</li>
				<!-- 時間割領域 -->
				<li class="timeTableArea">
					<!-- 時間割ラベル領域 -->
					<label class="timeTableLabelText"></label>
					<!-- 時間割選択領域 -->
					<select class="timeTableSelect" name="">
						<!-- セレクトボックスに入るテキスト -->
						<option class="timeTableSelectList1" value=""></option>
						<option class="timeTableSelectList2" value=""></option>
						<option class="timeTableSelectList3" value=""></option>
						<option class="timeTableSelectList4" value=""></option>
						<option class="timeTableSelectList5" value=""></option>
					</select>
				</li>
				<!-- 最大最小人数領域 -->
				<li class="studentsArea">
					<!-- 時間割ラベル領域 -->
					<label class="studentsText"></label>
					<!-- 最少人数テキストボックス領域 -->
					<input class="minStudentsTextbox" type="" name="" value="" min="">
					<!-- 〜の文字 -->
					<span class="periodsText"></span>
					<!-- 最大人数テキストボックス領域 -->
					<input class="maxStudentsTextbox" type="" name="" value="">
				</li>
				<!-- ステータス領域 -->
				<li class="statusArea">
					<!-- ステータスのラベル領域 -->
					<label class="lessonStatusLabel"></label>
					<!-- ステータスを選ぶセレクトボックス領域 -->
					<select class="lessonStatusSelect" name="">
						<!-- セレクトボックスで選択する領域 -->
						<option class="lessonState1" value=""></option>
						<option class="lessonState2" value=""></option>
						<option class="lessonState3" value=""></option>
						<option class="lessonState4" value=""></option>
					</select>
				</li>
				<!-- 教室領域 -->
				<li class="classRoomArea">
					<!-- 教室、ラベル領域 -->
					<label class="classRoomLabel"></label>
					<!-- 教室テキストボックス領域 -->
					<input class="classRoomTextbox" type="" name="" value="">
				</li>
				<!-- メモ領域 -->
				<li class="memoArea">
					<!-- メモのラベル領域 -->
					<label class="memoLabel"></label>
					<!-- メモ入力テキストエリア領域 -->
					<textarea class="memoTextarea" name=""></textarea>
				</li>
			</ul>

			<!-- 他にも使う汎用的なボタン -->
			<button class="addButton" type="" value=""></button>
		
		</div>
	</body>
</html>