<html>
	<body>
		<div>
			<!-- テーマ領域 -->
			<li class="themeArea">
				<!-- テーマラベル領域 -->
				<label class="themeLabelText"></label>
				<!-- テーマ表示位領域 -->
				<select class="lessonThemeSelect" name="">
					<!-- セレクトボックスに入るテキスト -->
					<option class="lessonThemeSelectList1" value=""></option>
					<option class="lessonThemeSelectList2" value=""></option>
					<option class="lessonThemeSelectList3" value=""></option>
					<option class="lessonThemeSelectList4" value=""></option>
					<option class="lessonThemeSelectList5" value=""></option>
					<option class="lessonThemeSelectList6" value=""></option>
					<option class="lessonThemeSelectList7" value=""></option>
				</select>
			</li>
			<!-- 時間割領域 -->
			<li class="timeTableArea">
				<!-- 時間割ラベル領域 -->
				<label class="timeTableLabelText"></label>
				<!-- 時間割選択領域 -->
				<select class="timeTableSelect" name="">
					<!-- セレクトボックスに入るテキスト -->
					<option class="timeTableSelectList1" value=""></option>
					<option class="timeTableSelectList2" value=""></option>
					<option class="timeTableSelectList3" value=""></option>
					<option class="timeTableSelectList4" value=""></option>
					<option class="timeTableSelectList5" value=""></option>
				</select>
			</li>
		
		</div>
	</body>
</html>