<html>
  <body>
    <div>
      <!-- 授業データ入力領域 -->
      <ul class="lessonData"></ul>
        <li class="lessonDate"></li>
        <li class="studentsArea">
          <!-- 時間割ラベル領域 -->
          <label class="studentsText"></label>
          <!-- 最少人数テキストボックス領域 -->
          <input class="minStudentsTextbox" type="" name="" value="" min="">
          <!-- &#12316;の文字 -->
          <span class="periodsText"></span>
          <!-- 最大人数テキストボックス領域 -->
          <input class="maxStudentsTextbox" type="" name="" value="">
        </li>
        <!-- ステータス領域 -->
        <li class="statusArea">
          <!-- ステータスのラベル領域 -->
          <label class="lessonStatusLabel"></label>
          <!-- ステータスを選ぶセレクトボックス領域 -->
          <select class="lessonStatusSelect" name="">
            <!-- セレクトボックスで選択する領域 -->
            <option class="lessonState1" value=""></option>
            <option class="lessonState2" value=""></option>
            <option class="lessonState3" value=""></option>
            <option class="lessonState4" value=""></option>
          </select>
        </li>
        <!-- 教室領域 -->
        <li class="classRoomArea">
          <!-- 教室、ラベル領域 -->
          <label class="classRoomLabel"></label>
          <!-- 教室テキストボックス領域 -->
          <input class="classRoomTextbox" type="" name="" value="">
        </li>
        <!-- メモ領域 -->
        <li class="memoArea">
          <!-- メモのラベル領域 -->
          <label class="memoLabel"></label>
          <!-- メモ入力テキストエリア領域 -->
          <textarea class="memoTextarea" name=""></textarea>
        </li>
    </div>
  </body>
</html>