<html>
	<!-- テストダイアログ用テンプレート -->
	<body>
		<div>

			<!-- 授業データ入力領域 -->
			<ul class="lessonData">
				<!-- テーマ領域 -->
				<li class="themeArea">
					<!-- テーマラベル領域 -->
					<label class="themeLabelText"></label>
					<!-- テーマ表示位領域 -->
					<span class="themeDetailText"></span>
				</li>
				<!-- 時間割領域 -->
				<li class="timeTableArea">
					<!-- 時間割ラベル領域 -->
					<label class="timeTableLabelText"></label>
					<!-- 時間割表示位領域 -->
					<span class="timeTableText"></span>
				</li>
				<!-- 最少人数領域 -->
				<li class="minStudentsArea">
					<!-- 最少人数ラベル領域 -->
					<label class="minStudentsText"></label>
					<!-- 最少人数テキストボックス領域 -->
					<input class="minStudentsTextbox" type="" name="">
					<!-- 最少人数単位領域 -->
					<span class="minStudentsUnit"></span>
				</li>
				<!-- 最大人数領域 -->
				<li class="maxStudentsArea">
					<!-- 最大人数領域 -->
					<label class="maxStudentsText"></label>
					<!-- 最大人数テキストボックス領域 -->
					<input class="maxStudentsTextbox" type="" name="">
					<!-- 最大人数単位領域 -->
					<span class="maxStudentsUnit"></span>
				
				</li>
				<!-- ステータス領域 -->
				<li class="statusArea">
					<!-- ステータスのラベル領域 -->
					<label class="lessonStatusLabel"></label>
					<!-- ステータスを選ぶセレクトボックス領域 -->
					<select class="lessonStatusSelect" name="">
						<!-- セレクトボックスで選択する領域 -->
						<option class="lessonState1" value=""></option>
						<option class="lessonState2" value=""></option>
						<option class="lessonState3" value=""></option>
						<option class="lessonState4" value=""></option>
					</select>
				</li>
				<!-- 教室領域 -->
				<li class="classRoomArea">
					<!-- 教室、ラベル領域 -->
					<label class="classRoomLabel"></label>
					<!-- 教室テキストボックス領域 -->
					<input class="classRoomTextbox" type="" name="">
				</li>
				<!-- メモ領域 -->
				<li class="memoArea">
					<!-- メモのラベル領域 -->
					<label class="memoLabel"></label>
					<!-- メモ入力テキストエリア領域 -->
					<textarea class="memoTextarea" name=""></textarea>
				</li>
			</ul>

			<!-- 更新ボタンと受講者一覧領域 -->
			<div class="buttonArea">
				<!-- 更新ボタン -->
				<input class="updateButton" type="" value="">
				<!-- 受講者一覧ボタン -->
				<input class="memberClassListButton" type="" value="">
			</div>
		
		</div>
	</body>
</html>