<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<div class="dialogContent"></div>

	<ul class="mailSendContent">
		<!-- 管理者、会員一覧からのメール送信ダイアログの宛先人領域 -->
		<li class="mailToPersonArea">
			<!-- 「宛先人」ラベル領域 -->
			<label class="mailToPersonLabel"></label>
			<!-- 「宛先人」ラベル -->
			<p class="mailToPerson"></p>
		</li>
		<!-- 管理者、会員一覧からのメール送信ダイアログの宛先領域 -->
		<li class="mailToArea">
			<!-- 「宛先」ラべル領域 -->
			<label class="mailToLabel"></label>
			<!-- 「宛先」の値が入る -->
			<p class="mailTo"></p>
		</li>
		<!-- 管理者、会員一覧からのメール送信ダイアログのメールタイトル領域 -->
		<li class="mailTitleArea">
			<!-- 「メールタイトル」領域 -->
			<label class="mailTitleLabel"></label>
			<!-- メールタイトルテキストボックス -->
			<input class="mailTitleTextbox" type="" name="" value="">
		</li>

		<!-- 管理者、会員一覧からのメール送信ダイアログのメール本文領域 -->
		<li class="mailContentArea">
			<!-- 「メール本文」領域 -->
			<label class="mailContentLabel"></label>
			<!-- メール本文テキストボックス -->
			<textarea class="mailContentTextbox" name=""></textarea>
		</li>

		<!-- 管理者、会員一覧からのメール送信ボタン領域 -->
		<li class="mailButton">
			<!-- メール送信ボタン -->
			<input class="mailSendButton" type="" value="">
			<!-- メール送信処理 -->
			<input class="mailResetBUtton" type="" value="">
		</li>
	</ul>


</div>
</body>
</html>