<html>
	<body>
		<div>
			<!-- 授業データ入力領域 -->
			<ul class="lessonData"></ul>

			<!-- 最少人数領域 -->
			<li class="minStudentsArea">
				<!-- 最少人数ラベル領域 -->
				<label class="minStudentsText"></label>
				<!-- 最少人数テキストボックス領域 -->
				<input class="minStudentsTextbox" type="" name="" value="" min="">
				<!-- 最少人数単位領域 -->
				<span class="minStudentsUnit"></span>
			</li>
			<!-- 最大人数領域 -->
			<li class="maxStudentsArea">
				<!-- 最大人数領域 -->
				<label class="maxStudentsText"></label>
				<!-- 最大人数テキストボックス領域 -->
				<input class="maxStudentsTextbox" type="" name="" value="">
				<!-- 最大人数単位領域 -->
				<span class="maxStudentsUnit"></span>
			</li>
			<!-- 最少人数領域 (時間帯)-->
			<li class="minNumArea">
				<!-- 最少人数ラベル領域 -->
				<label class="minNumText"></label>
				<!-- 最少人数テキストボックス領域 -->
				<input class="minNumTextbox" type="" name="" value="" min="">
				<!-- 最少人数単位領域 -->
				<span class="minNumUnit"></span>
			</li>
			<!-- 最大人数領域 (時間帯)-->
			<li class="maxNumArea">
				<!-- 最大人数領域 -->
				<label class="maxNumText"></label>
				<!-- 最大人数テキストボックス領域 -->
				<input class="maxNumbox" type="" name="" value="">
				<!-- 最大人数単位領域 -->
				<span class="maxNumUnit"></span>
			</li>
			<!-- ステータス領域 -->
			<li class="statusArea">
				<!-- ステータスのラベル領域 -->
				<label class="lessonStatusLabel"></label>
				<!-- ステータスを選ぶセレクトボックス領域 -->
				<select class="lessonStatusSelect" name="">
					<!-- セレクトボックスで選択する領域 -->
					<option class="lessonState1" value=""></option>
					<option class="lessonState2" value=""></option>
					<option class="lessonState3" value=""></option>
					<option class="lessonState4" value=""></option>
				</select>
			</li>
			<!-- 教室領域 -->
			<li class="classRoomArea">
				<!-- 教室、ラベル領域 -->
				<label class="classRoomLabel"></label>
				<!-- 教室テキストボックス領域 -->
				<input class="classRoomTextbox" type="" name="" value="">
			</li>
			<!-- メモ領域 -->
			<li class="memoArea">
				<!-- メモのラベル領域 -->
				<label class="memoLabel"></label>
				<!-- メモ入力テキストエリア領域 -->
				<textarea class="memoTextarea" name=""></textarea>
			</li>
		
		</div>
	</body>
</html>