<html>
<body>
<div>
	<!-- ログインダイアログ -->
	<div class="contentBox1">
		<!-- ユーザ名ラベル -->
		<label class="label1"></label>
		<!-- ユーザ名テキストボックス -->
		<input class="textbox1" type="" name="">
		<!-- パスワードラベル -->
		<label class="label2"></label>
		<!-- パスワードテキストボックス -->
		<input class="password1" type="" name="">
		<!-- 会員登録ページ誘導メッセージ前 -->
		<small class="smallMessage1"></small>
		<!-- 会員ページへのリンク -->
		<a class="linkText1" href=""></a>
		<!-- 会員ページ誘導メッセージ後 -->
		<small class="smallMessage2"></small>
	</div>
</div>
</body>
</html>