<!-- メルマガダイアログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<div class="dialogContent"></div>
	
      <!-- メルマガ・アナウンス送信領域 -->
      <form class="mailMagaAndAnnounceArea">
        <!-- 送信内容の情報領域 -->
        <div class="messageInfo">
          <!-- 「No.」領域 -->
          <label class="NoLabel"></label>
          <!-- No.テキストボックス -->
          <input class="numberTextox" type="" name="" value="" readonly>
          <!-- 「店舗」ラベル -->
          <label class="schoolNameLabel"></label>
          <!-- 店舗セレクトボックス -->
          <select class="schoolNameSelectBox" name="">
            <!-- 新宿店セレクト -->
            <option class="shinjukuSchool" value=""></option>
            <!-- 横浜店セレクト -->
            <option class="yokohamaSchool" value=""></option>
          </select>
          <!-- 「種別」ラベル -->
          <label class="typeLabel"></label>
          <!-- 種別セレクトボックス -->
          <select class="typeSelectBox" name="">
            <!-- 情報セレクト -->
            <option class="selectInfo" value=""></option>
          </select>
        </div>
        <!-- 送信日領域 -->
        <div class="sendmessageDate">
          <!-- 「送信日」ラベル -->
          <label class="sendmessageDateLabel"></label>
          <!-- 「送信日」テキストボックス -->
          <input class="sendmessageDateTextbox" type="" name="" value="" readonly>
        </div>
        <!-- メッセージタイトルラベル領域 -->
        <div class="messageTitleLabel"></div>
        <!-- メッセージタイトルのテキストボックス領域 -->
        <div class="messageTitleTextboxArea">
          <!-- メッセージタイトルテキストボックス -->
          <input class="messageTitleTextbox" type="" name="" value="">
        </div>
        <!-- メッセージ内容ラベル領域 -->
        <div class="messageContentLabel"></div>
        <!-- メッセージ内容領域 -->
        <div class="messageContentArea">
          <!-- メッセージ内容テキストエリア -->
          <textarea class="messageTextarea" name=""></textarea>
        </div>
        <!-- メッセージボタン領域 -->
        <div class="messageButtonArea">
        </div>
      </form>
	
</div>
</body>
</html>