<html>
	<!-- テストダイアログ用テンプレート -->
	<body>
		<div>
			<!-- domを囲むための要素 -->
			<div class="div"></div>

			<!-- 予約キャンセルダイアログ領域 -->
			<!-- 授業予約確認ダイアログの内側 -->
			<span class="lessonConfirmContent">
				<!--授業内容確認 -->
				<ul class="lessonConfirm">
					<!-- 1行目、授業情報領域 -->
					<li class="lessonInfo">
						<!-- 授業時間 -->
						<span class="timeSchedule"></span>
						<!-- 店舗名 -->
						<span class="store"></span>
						<!-- コース名 -->
						<span class="course"></span>
						<!-- 料金 -->
						<span class="price"></span>
						<!-- 料金「円」単位 -->
						<span class="priceUnit"></span>
					</li>
				</ul>

				<!-- 「キャンセル料・加算ポイントについて」 -->
				<a class="lessonAccordion"></a>

				<!-- キャンセル料率と加算ポイントの注意事項領域 -->
				<ul class="attention">
					<!-- キャンセル料率ラベル領域 -->
					<li class="cancelRateLabel">
						<!-- キャンセル料率のラベル -->
						<span class="cancelRateLabelText"></span>
					</li>
					<!-- キャンセル料率の値領域 -->
					<li class="cancelRateValue">
						<!-- 最初の行の領域 -->
						<span class="cancel__0">
							<!-- 「日付の値」領域 -->
							<span class="cancel_days"></span>
							<!-- 「日前:」領域 -->
							<span class="cancelText"></span>
							<!-- 「キャンセル率の値」領域 -->
							<span class="cancel_rate"></span>
							<!-- 「%」領域 -->
							<span class="cancelUnit"></span>
						</span>
						<!-- 2行目の行の領域 -->
						<span class="cancel__1">
							<!-- 「日付の値」領域 -->
							<span class="cancel_days"></span>
							<!-- 「日前:」領域 -->
							<span class="cancelText"></span>
							<!-- 「キャンセル率の値」領域 -->
							<span class="cancel_rate"></span>
							<!-- 「%」領域 -->
							<span class="cancelUnit"></span>
						</span>
						<!-- 2行目の行の領域 -->
						<span class="cancel__2">
							<!-- 「日付の値」領域 -->
							<span class="cancel_days"></span>
							<!-- 「日前:」領域 -->
							<span class="cancelText"></span>
							<!-- 「キャンセル率の値」領域 -->
							<span class="cancel_rate"></span>
							<!-- 「%」領域 -->
							<span class="cancelUnit"></span>
						</span>
					</li>
					<!-- 加算ポイントラベル領域 -->
					<li class="addPointLabel">
						<!-- 加算ポイントのラベル -->
						<span class="addPointLabelText"></span>
					</li>
					<!-- 加算ポイントの値領域1行目 -->
					<li class="addPointValue">
						<!-- dbの１行目の領域 -->
						<span class="addPoint__0">
							<!-- 「生徒の数」の値領域 -->
							<span class="students"></span>
							<!-- 「人:」領域 -->
							<span class="studentsUnit"></span>
							<!-- 「ポイント数」の値領域 -->
							<span class="point_rate"></span>
							<!-- 「pt」領域 -->
							<span class="pointUnit"></span>
						</span>
						<!-- dbの2行目の領域 -->
						<span class="addPoint__1">
							<!-- 「生徒の数」の値領域 -->
							<span class="students"></span>
							<!-- 「人:」領域 -->
							<span class="studentsUnit"></span>
							<!-- 「ポイント数」の値領域 -->
							<span class="point_rate"></span>
							<!-- 「pt」領域 -->
							<span class="pointUnit"></span>
						</span>
						<!-- dbの3行目の領域 -->
						<span class="addPoint__2">
							<!-- 「生徒の数」の値領域 -->
							<span class="students"></span>
							<!-- 「人:」領域 -->
							<span class="studentsUnit"></span>
							<!-- 「ポイント数」の値領域 -->
							<span class="point_rate"></span>
							<!-- 「pt」領域 -->
							<span class="pointUnit"></span>
						</span>
						<!-- dbの4行目の領域 -->
						<span class="addPoint__3">
							<!-- 「生徒の数」の値領域 -->
							<span class="students"></span>
							<!-- 「人:」領域 -->
							<span class="studentsUnit"></span>
							<!-- 「ポイント数」の値領域 -->
							<span class="point_rate"></span>
							<!-- 「pt」領域 -->
							<span class="pointUnit"></span>
						</span>
					</li>
				</ul>
				<!-- 確認テキスト「上記の授業を予約しますか？」領域 -->
				<p class="confirmText"></p>
			</span>
			<!-- 予約確認ダイアログ領域 終わり -->

		</div>
	</body>
</html>