<html>
	<!-- テストダイアログ用テンプレート -->
	<body>
		<div>
	
			<!-- 2段落のお知らせその1 -->
			<span class="notice1">
				<p class="paragraph1"></p>
				<p class="paragraph2"></p>
			</span>
			<!-- 汎用テーブル1 -->
			<table class="table1">
					<tr class="row1">
						<th class="headCell1"></th>
						<td class="cell1"></td>
						<td class="cell2"></td>
					</tr>
					<tr class="row2">
						<th class="headCell1"></th>
						<td class="cell1"></td>
						<td class="cell2"></td>
					</tr>
					<tr class="row3">
						<th class="headCell1"></th>
						<td class="cell1"></td>
						<td class="cell2"></td>
					</tr>
			</table>
		
		</div>
	</body>
</html>