<!-- ブログのパーツ -->
<html>
<body>
<!-- テンプレート領域 -->
<div>

	<div class="dialogContent"></div>

    <!-- 会員一覧、ユーザ検索テキストボックス -->
    <div class="searchUserList">
      <!-- 氏名カナから検索するためのテキストボックス領域 -->
      <label class="searchNameKana">
        <!-- ラベル領域 -->
        <span class="searchNameKanaLabel"></span>
        <!-- テキストボックス領域 -->
        <input class="searchNameKanaTextbox" type="" name="" data-col_name="">
      </label>
      <!-- 氏名から検索するためのテキストボックス領域 -->
      <label class="searchName">
        <!-- ラベル領域 -->
        <span class="searchNameLabel"></span>
        <!-- テキストボックス領域 -->
        <input class="searchNameTextbox" type="" name="" data-col_name="">
      </label>
      <!-- 電話番号から検索するためのテキストボックス領域 -->
      <label class="searchPhoneNumber">
        <!-- ラベル領域 -->
        <span class="searchPhoneLabel"></span>
        <!-- テキストボックス領域 -->
        <input class="searchPhoneTextbox" type="" name="" data-col_name="">
      </label>
      <!-- メールアドレスから検索するためのテキストボックス領域 -->
      <label class="searchMailAddress">
        <!-- ラベル領域 -->
        <span class="searchMailAddressLabel"></span>
        <!-- テキストボックス領域 -->
        <input class="searchMailAddressTextbox" type="" name="" data-col_name="">
      </label>
      <!-- idから検索するための領域 -->
      <label class="searchUserId">
        <!-- ラベル領域 -->
        <span class="searchUserIdLabel"></span>
        <!-- テキストボックス領域 -->
        <input class="searchUserIdTextbox" type="" name="" data-col_name="">
      </label>
      <!-- 授業テーマを検索するための領域 -->
      <label class="searchTheme">
        <!-- ラベル領域 -->
        <span class="searchThemeLabel"></span>
        <!-- テキストボックス領域 -->
        <input class="searchThemeTextbox" type="" name="" data-col_name="">
      </label>
      <!-- 期間から検索するためのテキストボックス領域 -->
      <label class="searchLessonPeriodFrom">
        <!-- 期間fromラベル領域 -->
        <span class="searchLessonPeriodFromLabel"></span>
        <!-- 期間fromテキストボックス領域 -->
        <input class="searchLessonPeriodFromTextbox" type="" name="" data-col_name="">
      </label>
      <!-- 期間から検索するためのテキストボックス領域 -->
      <label class="searchLessonPeriodTo">
        <!-- 期間toラベル領域 -->
        <span class="searchLessonPeriodToLabel"></span>
        <!-- 期間toテキストボックス領域 -->
        <input class="searchLessonPeriodToTextbox" type="" name="" data-col_name="">
      </label>
    </div>
    <!-- ユーザ一覧を操作するボタンの領域 -->
    <div class="userListButtons">
    </div>
    <!-- 受講承認一覧 検索フォーム -->
    <div class="permitListSearch">
      <span class ="searchInputArea">
        <!-- 検索の機関のfromの領域 -->
        <label class="fromArea">
          <!-- ラベル領域 -->
          <span class="fromLabel"></span>
          <!-- テキストボックス領域 -->
          <input class="fromTextbox" type="" name="">
        </label>
        <!-- 検索の期間のtoの領域 -->
        <label class="toArea">
          <!-- ラベル領域 -->
          <span class="toLabel"></span>
          <!-- テキストボックス領域 -->
          <input class="toTextbox" type="" name="">
        </label>
      </span>
    </div>	
</div>
</body>
</html>